﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="~/assets/staff/css/adminpage.css">
    <link rel="stylesheet" href="~/assets/staff/css/table.css">
    <link rel="stylesheet" href="~/assets/staff/css/main.css">
    <!----===== font awesome CSS ===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <!-- Main CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!----===== Google chart ===== -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="sidenavbar">
                <div class="logo">
                    <img src="~/img/logo.png" alt="" />
                    <span>Auto99</span>
                </div>
                <a href="adminhome"><i class="fa-brands fa-dashcube"></i>Dashboard</a>
                <a href="employeelist"><i class="fa-solid fa-people-group"></i>Nhân viên</a>
                <a href="CustomerList"><i class="fa-solid fa-user"></i>Khách hàng</a>
                <a href="carlist"><i class="fa-solid fa-car"></i>Sản phẩm</a>
                <a href="bloglist"><i class="fa-solid fa-newspaper"></i>Blog</a>
                <a href="voucherlist"><i class="fa-solid fa-ticket"></i>Voucher</a>
                <a href="carorderlist"><i class="fa-solid fa-cash-register"></i>Đặt cọc xe</a>
                <a href="locationlist"><i class="fa-solid fa-location-pin"></i>Địa điểm</a>
                <a href="policyfeelist"><i class="fa-solid fa-tag"></i>Phụ phí và bảo hiểm</a>
                <a href="myprofile"><i class="fa-solid fa-user"></i>My Profile</a>
                <a href="logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/src/jquery.table2excel.js"></script>
    <script src="~/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
</body>
</html>
