﻿@using Auto99.Services
@using Auto99.Models
@{
    var userClaims = User.Claims;
    var userIdClaim = userClaims.FirstOrDefault(c => c.Type == "Id");
    var userId = userIdClaim?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auto99</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Auto99.styles.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="HomePage"><img src="img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                            <a class="nav-link" href="HomePage">Trang Chủ</a>
                            <a class="nav-link" href="CarList">Sản Phẩm</a>
                            <a class="nav-link" href="BlogHomeList">Tin Tức và Khuyến Mãi</a>
                            <a class="nav-link" asp-page="./BlogDetail" asp-route-id="6">Về Chúng Tôi</a>
                            <a class="nav-link" asp-page="./BlogDetail" asp-route-id="7">Liên Hệ</a>

                        <li class="nav-item">
                            <div class="login">
                                @if (!string.IsNullOrEmpty(userId))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-regular fa-circle-user"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-page="./Profile">Thông tin tài khoản</a>
                                            <a class="dropdown-item" asp-page="./PurchaseHistory" asp-route-id="@userId">Lịch sử đơn hàng</a>
                                            <a class="dropdown-item" asp-page="./ChangePassword" asp-route-id="@userId">Đổi mật khẩu</a>
                                            <a class="dropdown-item" asp-page="./Logout">Đăng xuất</a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <a class="nav-link" href="LoginClient">Đăng nhập</a>
                                }
                </div>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9327372450375!2d105.75677227591818!3d21.03537718755002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abc4b6a0fe47%3A0x537c07fb83a9ed0f!2sAuto%2099!5e0!3m2!1svi!2s!4v1695022239157!5m2!1svi!2s"
                    width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="box">
            <ul>
                @{
                    var listBlog = Context.Session.GetObject<List<Blog>>("Footer");
                }
                @if (listBlog != null && listBlog.Count > 0)
                {
                    <li class="first">
                        @Html.Raw(listBlog[0].Content)
                    </li>
                    @if (listBlog.Count > 1)
                    {
                        <li class="cont">
                            @Html.Raw(listBlog[1].Content)
                        </li>
                    }
                    @if (listBlog.Count > 2)
                    {
                        <li class="sub">
                            @Html.Raw(listBlog[2].Content)
                        </li>
                    }
                }
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>