﻿@page
@model Auto99.Pages.Staff.AdminHomeModel
@using Auto99.Models;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}
<div class="header">
    <h1>Dashboard</h1>
</div>

<div class="following-wrapper">
    <div class="card">
        <a href="CarList">
            <i class="fa-solid fa-car fa-3x align-items-center"></i>
            <h3>@ViewBag.carCount</h3>
            <h2>Mẫu Xe</h2>
        </a>
    </div>

    <div class="card">
        <a href="BlogList">
            <i class="fa-solid fa-newspaper fa-3x align-items-center"></i>
            <h3>@ViewBag.blogCount</h3>
            <h2>Số lượng blog</h2>
        </a>
    </div>

    <div class="card">
        <a href="CustomerList">
            <i class="fa-solid fa-user fa-3x align-items-center"></i>
            <h3>@ViewBag.clientCount</h3>
            <h2>Khách hàng</h2>
        </a>
    </div>

    <div class="card">
        <a href="EmployeeList">
            <i class="fa-solid fa-people-group fa-3x align-items-center"></i>
            <h3>@ViewBag.accCount</h3>
            <h2>Nhân viên</h2>
        </a>
    </div>
</div>