﻿@page
@model Auto99.Pages.Staff.BlogEditModel
@{
}
@{
    ViewData["Title"] = "Blog List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}
<script>
                    function readURL(input, thumbimage) {
                        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                $("#thumbimage").attr('src', e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                        } else { // Sử dụng cho IE
                            $("#thumbimage").attr('src', input.value);
                        }
                        $("#thumbimage").show();
                        $('.filename').text($("#uploadfile").val());
                        $('.Choicefile').css('background', '#14142B');
                        $('.Choicefile').css('cursor', 'default');
                        $(".removeimg").show();
                        $(".Choicefile").unbind('click');

                    }
                    $(document).ready(function() {
                        $(".Choicefile").bind('click', function() {
                            $("#uploadfile").click();

                        });
                        $(".removeimg").click(function() {
                            $("#thumbimage").attr('src', '').hide();
                            $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
                            $(".removeimg").hide();
                            $(".Choicefile").bind('click', function() {
                                $("#uploadfile").click();
                            });
                            $('.Choicefile').css('background', '#14142B');
                            $('.Choicefile').css('cursor', 'pointer');
                            $(".filename").text("");
                        });
                    })

                    var loadFile = function(event, id) {
                        var output = document.getElementById('subImg-' + id);
                        output.src = URL.createObjectURL(event.target.files[0]);
                        output.onload = function() {
                            URL.revokeObjectURL(output.src) // free memory
                        }
                    };

                    function confirmCancel(event) {
                        var confirmation = confirm("Bạn có chắc chắn muốn huỷ thêm blog mới?");
                        if (!confirmation) {
                            event.preventDefault(); // Ngăn chặn điều hướng đến đường dẫn URL
                        }
                    }

                    function changeSubImg() {
                        document.getElementById("myForm").submit();
                    }
                </script>
                    <style>
                        .Choicefile {
                            display: block;
                            background: #14142B;
                            border: 1px solid #fff;
                            color: #fff;
                            width: 150px;
                            text-align: center;
                            text-decoration: none;
                            cursor: pointer;
                            padding: 5px 0px;
                            border-radius: 5px;
                            font-weight: 500;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        #uploadfile {
                            display: none;
                        }
                        
                        #thumbbox {
                            position: relative;
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    </style>


                                <div class="app-title">
                                    <ul class="app-breadcrumb breadcrumb">
                                        <li class="breadcrumb-item"><a href="bloglist">Danh sách tin</a></li>
                                        <li class="breadcrumb-item"><a>Chỉnh sửa nâng cao blog</a></li>
                                    </ul>
                                </div>

                                <form class="row" method="POST" enctype="multipart/form-data">
                                    <div class="col-md-12">
                                        <div class="tile">
                                            <h3 class="tile-title">Chỉnh sửa nâng cao blog</h3>
                                            <div class="tile-body">
                                                <div class="row">
                                                    <input class="form-control" type="hidden" name="blogID" value="@Model.blog.BlogId" required>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Tiêu đề</label>
                                                    <input class="form-control" type="text" name="title" value="@Model.blog.Title" required>
                                                    </div>


                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Thể loại</label>
                                                        <select class="form-control" name="parentID">
                                @{
                                    var listBSC = ViewData["ListBSC"] as IEnumerable<dynamic>; // Hoặc thay thế bằng kiểu dữ liệu chính xác nếu bạn sử dụng một lớp cụ thể
                                }
                                @if (listBSC != null)
                                {
                                    foreach (var item in listBSC)
                                    {
                                        string parentIdString = item.ParentId.ToString(); // Ép kiểu sang chuỗi

                                        <option value="@item.ParentId" selected=@(Model.blog.ParentId.Equals(item.ParentId))>@item.Title</option>
                                    }
                                }
                                        </select>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Mô tả ngắn</label>
                                                        <textarea class="form-control" name="description" required>@(Model.blog.Description)</textarea>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Nội dung tin</label>
                                                        <textarea class="form-control" name="content" id="default">@(Model.blog.Content)</textarea>
                                                    </div>

                                                    <div class="form-group">

                                                        <div class="col-md-12">
                                                            <label class="control-label">Ảnh chính cho blog</label>
@*                                                             <% 
                                            if (error != null && error.equals("1")) {
                                            %>
                                                                <p class="text-warning">File không hợp lệ</p>
                                                                <% } %> *@
                                                        </div>
                                                        <input type="hidden" name="img1" value="@(Model.blog.BlogImg)">

                                                        <div class="col-md-4" style="margin-top: 20px;">
                                                            <div id="myfileupload">
                                                                <img id="thumbimage" src="~/img/Blog/@(Model.blog.BlogImg)" style="max-width: 600px;" />
                                                                <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
                                                            </div>
                                                            <div id="boxchoice">
                                                                <a href="javascript:" class="Choicefile" onclick="document.getElementById('uploadfile').click();"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh thay đổi</a>
                                                                <p style="clear:both"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-save" type="submit">Lưu lại</button>
                                            <!<!-- send input action to servlet to know what action need -->
                                            <input type="hidden" name="user" value="${sessionScope.acc.accID}">
                                            <input type="hidden" name="action" value="AdvancedUpdateBlog" />
                                            <a class="btn btn-cancel" href="bloglist" onclick="confirmCancel(event);">Hủy bỏ</a>
@*                                             <c:if test="${msg != null}">
                                                <span class="text-success">${msg}</span>
                                            </c:if> *@
                                        </div>
                                    </div>
                                </form>

                    <!-- Essential javascripts for application to work-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

                    <script src="~/js/plugins/pace.min.js"></script>

    <script src="~/tinymce/tinymce.min.js"></script>
                    <script src="~/assets/Staff/js/TinyMCE.js"></script>