﻿@page
@using System.Globalization;
@using Auto99.Models;
@model Auto99.Pages.Staff.BlogListModel
@{
}
@{
    ViewData["Title"] = "Blog List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}
<!----======== CSS ======== -->
<link rel="stylesheet" href="./assets/Staff/css/AdminPage.css">
<link rel="stylesheet" href="assets/Staff/css/Table.css">


<!----===== font awesome CSS ===== -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

<link rel="stylesheet" href="./assets/Staff/css/main.css">
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
<!-- Main CSS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

<!-- Font-icon css-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<!--Flatpickr-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item">Danh sách blog</li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
                                <div class="row element-button">

                                    <div class="col">
                                        <a class="btn btn-add btn-sm" href="/Staff/BlogCreate" title="Thêm"><i class="fas fa-plus"></i>
                                            Tạo mới blog</a>
                                    </div>

                                </div>
                    <form id="filterForm" asp-action="bloglist" method="post">

                                <div class="row search-length">
                                    <div class="col-sm-12 col-md-8">
                                        <div class="length-box" style="display: flex; justify-content: space-between;">
                                            <label>Hiện
                                        <input type="hidden" name="PageSize" id="quantityInput" value="@Model.PageSize" />

                                        <select id="quantitySelect" name="length" onchange="submitForm()" aria-controls="sampleTable" class="form-control form-control-sm">
                                                    <option value="10" selected=@(Model.PageSize.Equals(10)) >10</option>
                                                    <option value="25" selected=@(Model.PageSize.Equals(25))>25</option>
                                                    <option value="50" selected=@(Model.PageSize.Equals(50))>50</option>
                                                    <option value="100" selected=@(Model.PageSize.Equals(100))>100</option>
                                                    </select> danh mục
                                                </label>

                                                <label> Thể loại
                                        <input type="hidden" name="Parent" id="cateInput" value="@Model.Parent" />
                                        <select id="cateSelect" name="length" style="width: 150px" onchange="submitForm()" class="form-control form-control-sm">
                                            <option value="0">Chọn</option>
                                            @{
                                                var listBSC = ViewData["ListBSC"] as IEnumerable<dynamic>; // Hoặc thay thế bằng kiểu dữ liệu chính xác nếu bạn sử dụng một lớp cụ thể
                                            }
                                                        @if (listBSC != null)
                                                        {
                                                            foreach (var item in listBSC)
                                                            {
                                                                string parentIdString = item.ParentId.ToString(); // Ép kiểu sang chuỗi

                                                                <option value="@item.ParentId" selected=@(Model.Parent.Equals(parentIdString))>@item.Title</option>
                                                            }
                                                        }
                                                    </select> 
                                            </label>
                                            <label> Trạng thái
                                                <input type="hidden" name="Status" id="statusInput" value="@Model.Status" />

                                                <select id="statusSelect" style="width: 150px" name="length" onchange="submitForm()" class="form-control form-control-sm">
                                                        <option value="">Chọn</option>
                                                        <option value="True" selected=@(Model.Status.Equals("True"))>Hoạt động</option>
                                                        <option value="False" selected=@(Model.Status.Equals("False"))>Ngừng hoạt động</option>
                                                </select>
                                            </label>
                                            <label>
                                                Từ
                                            <input name="StartDate" style="width: 120px; text-align: center" onchange="submitForm()" class="form-control form-control-sm flatpickr" data-input type="text" value="@Model.StartDate">
                                                đến
                                            <input name="EndDate" style="width: 120px; text-align: center" onchange="submitForm()" class="form-control form-control-sm flatpickr" data-input type="text" value="@Model.EndDate">
                                            </label>
                                            <script>
                                                const flatpickrInputs = document.querySelectorAll(".flatpickr");


                                                flatpickrInputs.forEach((input) => {
                                                    flatpickr(input, {
                                                        enableTime: false,
                                                        dateFormat: "d-m-Y"
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                            <div class="search-box">
                                                <label>
                                                    Tìm kiếm:<input type="search" value="@Model.Search" name="Search" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                                                </label>

                                                <button type="submit" type="button" class="btn btn-success" fdprocessedid="wjwv0s">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                    </div>
                                </div>
                    </form>

                                <form id="SendAllBlogIDChecked" action="blogcrud" method="POST">
                                    <table class="table table-hover table-bordered" id="sampleTable">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">BlogID</th>
                                                <th style="text-align: center">Tiêu đề</th>
                                                <th style="text-align: center">Trạng thái</th>
                                                <th style="text-align: center">Ngày đăng</th>
                                                <th style="text-align: center">Chức Năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var item in Model.Blog){
                                             <tr>

                                        <td style="width: 80px; text-align: center">@item.BlogId</td>
                                        <td style="width: 1000px;">@item.Title</td>
                                        <td style="text-align: center;">
                                            <span class="badge @(item.Status.HasValue ? (item.Status.Value ? "bg-success" : "bg-danger") : "bg-secondary")">
                                                @(item.Status.HasValue ? (item.Status.Value ? "Hoạt động" : "Ngừng hoạt động") : "Không xác định")
                                            </span>
                                        </td>

                                                    <td style="text-align: center">
                                                     @(item.CreatedOn?.ToString("dd-MM-yyyy"))
                                        </td>
                                                    <td style="text-align: center">
                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                data-target="@("#ModalUP" + item.BlogId)">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </form>

                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" role="status" >
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate">
                                            <ul class="pagination">
                                                @if (Model.PageNumber > 1)
                                                {
                                                <li class="paginate_button page-item previous ">
                                        <a class="page-link" onclick="submitFormAndNavigate(event)" href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@(Model.PageSize)">Previous</a>
                                                    </li>
                                                }

                                                @for (var i = 1; i <= Model.TotalPages; i++)
                                                {
                                                    <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                                        <a class="page-link" onclick="submitFormAndNavigate(event)" href="?pageNumber=@i&pageSize=@(Model.PageSize)">@i</a>
                                                    </li>
                                                }

                                                @if (Model.PageNumber < Model.TotalPages)
                                                {
                                                    <li class="paginate_button page-item next">
                                        <a class="page-link" onclick="submitFormAndNavigate(event)" href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@(Model.PageSize)">Next</a>
                                                    </li>
                                                }
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            <!--
      MODAL
            -->

@foreach(var item in Model.Blog)
{
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="Action" value="UpdateBlog" />
        <div class="modal fade" id="@("ModalUP" + item.BlogId)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group  col-md-12">
                                <span class="thong-tin-thanh-toan">
                                    <h5>Chỉnh sửa thông tin blog cơ bản</h5>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" name="blogID" value="@(item.BlogId)" />

                            <div class="form-group col-md-6">
                                <label class="control-label">Tiêu đề blog</label>
                                <input class="form-control" type="text" required value="@(item.Title)" readonly style="cursor: not-allowed">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="exampleSelect1" class="control-label">Tình trạng blog</label>
                                <select class="form-control" name="status">
                                    <option value="@(item.Status)">@(item.Status.HasValue ? (item.Status.Value ? "Hoạt động" : "Ngừng hoạt động") : "Không xác định")</option>
                                    <option value="@(!item.Status)">@(item.Status.HasValue ? (!item.Status.Value ? "Hoạt động" : "Ngừng hoạt động") : "Không xác định")</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="control-label">Ngày đăng</label>
                                @{
                                    var formattedDate = item.CreatedOn.HasValue
                                    ? item.CreatedOn.Value.ToString("dd-MM-yyyy hh:mm tt", CultureInfo.InvariantCulture)
                                    : "Không có ngày đăng";
                                }
                                <label class="control-label">Ngày đăng</label>
                                <input class="form-control" type="text" required value="@formattedDate" readonly style="cursor: not-allowed" />
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="control-label">Ngày sửa gần nhất</label>
                                @{
                                    var formattedModifiedDate = item.ModifiedOn.HasValue
                                    ? item.CreatedOn.Value.ToString("dd-MM-yyyy hh:mm tt", CultureInfo.InvariantCulture)
                                    : "Không có ngày đăng";
                                }
                                <input class="form-control" type="text" required value="@formattedModifiedDate" readonly style="cursor: not-allowed">
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="control-label">Người đăng</label>
                                <input class="form-control" type="text" required value="@(item.CreatedByNavigation?.AccName ?? "Unknown")" readonly style="cursor: not-allowed">
                            </div>
                            <div class="form-group  col-md-6">
                                
                                <label class="control-label">Người sửa gần nhất</label>
                                <input class="form-control" type="text" required value="@(item.ModifiedByNavigation?.AccName ?? "Unknown")" readonly style="cursor: not-allowed">
                            </div>
                        </div>
                        <BR>
                        <a href="/Staff/BlogEdit?action=AdvancedUpdateBlog&blogID=@(item.BlogId)" style="float: right;
                                       font-weight: 600;
                                       color: #ea0000;">Chỉnh sửa sản phẩm nâng cao</a>
                        <BR>
                        <BR>
                        <button class="btn btn-save" type="submit">Lưu lại</button>
@*                         CHƯA CÓ SESSION
 *@
                        <input type="hidden" name="user" value="${sessionScope.acc.accID}">
                        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                        <BR>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </form>
}


            <!--
            MODAL
            -->

            <!-- Essential javascripts for application to work-->
            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="src/jquery.table2excel.js"></script>
            <script src="js/main.js"></script>
            <!-- The javascript plugin to display page loading on top-->
            <script src="js/plugins/pace.min.js"></script>
            <!-- Page specific javascripts-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            <script>
                                                document.addEventListener("DOMContentLoaded", function () {
                                                    // Lấy ra checkbox "Tất cả" và tất cả các checkbox trong bảng
                                                    var selectAllCheckbox = document.getElementById('all');
                                                    var checkboxes = document.querySelectorAll('input[name="checkedBlogID"]');

                                                    // Thêm sự kiện nghe cho checkbox "Tất cả"
                                                    selectAllCheckbox.addEventListener('change', function () {
                                                        // Nếu checkbox "Tất cả" được chọn
                                                        if (selectAllCheckbox.checked) {
                                                            // Đặt checked = true cho tất cả các checkbox trong bảng
                                                            checkboxes.forEach(function (checkbox) {
                                                                checkbox.checked = true;
                                                            });
                                                        } else {
                                                            // Đặt checked = false cho tất cả các checkbox trong bảng
                                                            checkboxes.forEach(function (checkbox) {
                                                                checkbox.checked = false;
                                                            });
                                                        }
                                                    });
                                                });
            </script>
<script src="~/js/Blogpage.js"></script>
<script>
    // $(document).ready(function () {
    //     $('.page-link').on('click', function (event) {
    //         event.preventDefault(); // Prevent default anchor behavior

    //         // Get the form and action URL
    //         var form = $('#filterForm');

    //         // Get the href of the clicked anchor tag
    //         var href = $(this).attr('href');

    //         // Submit the form using AJAX
    //         $.ajax({
    //             type: 'POST', // Adjust as per your form's method (POST or GET)
    //             url: 'BlogList', // Form action URL
    //             data: form.serialize(), // Serialize form data
    //             success: function () {
    //                 // Redirect to the URL specified in the clicked anchor's href after successful form submission
    //                 window.location.href = href;
    //             }
    //         });
    //     });
    // });
</script>
