﻿@page
@model Auto99.Pages.Staff.CarEditModel
@using Auto99.Models;
@{
    ViewData["Title"] = "Car Edit";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}
<script src="ckeditor/ckeditor.js"></script>
<script>
    function readURL(input, thumbimage) {
        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        } else { // Sử dụng cho IE
            $("#thumbimage").attr('src', input.value);
        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click');

    }

    function readSubURL(input) {
        if (input.files && input.files[0]) { // For Firefox and Chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimageSubIMG").attr('src', e.target.result).show();
            };
            reader.readAsDataURL(input.files[0]);
        } else { // For IE
            $("#thumbimageSubIMG").attr('src', input.value).show();
        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click');
    }


    $(document).ready(function () {
        $(".Choicefile").bind('click', function () {
            $("#uploadfile").click();

        });
        $(".removeimg").click(function () {
            $("#thumbimage").attr('src', '').hide();
            $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
            $(".removeimg").hide();
            $(".Choicefile").bind('click', function () {
                $("#uploadfile").click();
            });
            $('.Choicefile').css('background', '#14142B');
            $('.Choicefile').css('cursor', 'pointer');
            $(".filename").text("");
        });
    })

    var loadFile = function (event, id) {
        var output = document.getElementById('subImg-' + id);
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    function confirmCancel(event) {
        var confirmation = confirm("Bạn có chắc chắn muốn huỷ edit car ?");
        if (!confirmation) {
            event.preventDefault(); // Ngăn chặn điều hướng đến đường dẫn URL
        }
    }

    function changeSubImg() {
        document.getElementById("myForm").submit();
    }
</script>

<title>Car Edit</title>

<style>
    .Choicefile {
        display: block;
        background: #14142B;
        border: 1px solid #fff;
        color: #fff;
        width: 150px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 0px;
        border-radius: 5px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }

    #uploadfile {
        display: none;
    }

    #thumbbox {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    /*----------SubIMG------------------------------------------------------------*/

    #uploadfileSubIMG {
        display: none;
    }

    #thumbboxSubIMG {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
</style>

<div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="carlist">Danh sách xe</a></li>
                        <li class="breadcrumb-item"><a href="#">Chỉnh sửa xe</a></li>
                    </ul>
                </div>

                 <form class="row" asp-action="/Staff/CarEdit" method="POST" enctype="multipart/form-data">
                    <div class="col-md-12">
                        <div class="tile">
                            <h3 class="tile-title">Chỉnh sửa xe</h3>
                            <div class="tile-body">
                                <div class="row element-button">
                                    <div class="col-sm-2">
                                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-folder-plus"></i> Thêm hãng xe</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-folder-plus"></i> Thêm loại xe</a>
                                    </div>
                                </div>
                                <p class="text-warning">@ViewBag.notification</p>
                                <div class="row">
                                    <fieldset class="form-group col-md-12">
                                        <legend>Thông tin cơ bản</legend>
                                        <div class="row">
                                            
                                            <input type="hidden" name="carID" value="@Model.car.carID">


                                            <div class="form-group col-md-4">
                                                <label class="control-label">Tên xe</label>
                                                <input class="form-control" type="text" name="carName" 
                                                       value="@Model.car.carName" require ="require">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Tình trạng</label>
                                                <select class="form-control" name="statusID">
                                                    @foreach(StatusCategory s in @Model.StatusList){
                                                        <option value="@s.StatusId" selected="@(s.StatusId == Model.car.status.StatusId)">@s.StatusName</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Kiểu dáng</label>
                                                <select class="form-control" name="designID">
                                                    @foreach(CarDesign d in @Model.DesignList){
                                                        <option value="@d.DesignId" selected="@(d.DesignId == Model.car.design.DesignId)">@d.Design</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Hãng xe</label>
                                                <select class="form-control" name="brandID">
                                                    @foreach(CarBrand b in @Model.BrandList){
                                                        <option value="@b.BrandId" selected="@(b.BrandId == Model.car.brandID.BrandId)">@b.BrandName</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Xuất sứ </label>
                                                <input class="form-control" type="text" name="madeIn" 
                                                       value="@Model.gic.MadeIn" require ="require">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Nguyên Liệu </label>
                                                <input class="form-control" type="text" name="fuel"
                                                       value="@Model.gic.Fuel" require="require">
                                            </div>


                                            <div class="form-group col-md-4">
                                                <label class="control-label">Giá bán</label>
                                                <input class="form-control" type="text" name="price" require ="require"
                                                       value="@Model.car.price"
                                                       pattern="([0-9]*(\.)?)[0-9]*" 
                                                       title="Xin hãy nhập 1 số thực">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Số ghế ngồi </label>
                                                <input class="form-control" type="number" name="seatNumber"
                                                       value="@Model.gic.NumberOfSeat" require ="require">
                                            </div>

                                           @*  <c:if test="${acc != null && acc.getRoleID().getRoleID() == 1}"> *@
                                                <div class="form-group col-md-4">
                                                    <label class="control-label">Người tạo </label>
                                                    <input class="form-control" readonly
                                                     value="@(@Model.car.createdBy!= null ? @Model.car.createdBy.AccName:"")">
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="control-label">Ngày tạo </label>
                                                    <input class="form-control" readonly
                                                           value="@Model.car.createdOn">
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="control-label">Người sửa </label>
                                                    <input class="form-control" readonly
                                                           value="@(@Model.car.modifiedBy!= null ? @Model.car.modifiedBy.AccName:"")">
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="control-label">Ngày sửa </label>
                                                    <input class="form-control" readonly
                                                           value="@Model.car.modifiedOn">
                                                </div>
                                            @* </c:if> *@

                                        </div>
                                    </fieldset>

                                    <fieldset class="form-group col-md-12">
                                        <legend>Thông tin động cơ và khung xe</legend>
                                        <div class="row">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Dung tích </label>
                                                <input class="form-control" type="text" name="capacity" require ="require"
                                                       value="@Model.ei.FuelTankCapacity"
                                                       pattern="([0-9]*(\.?)[0-9]*" 
                                                       title="Xin hãy nhập 1 số thực">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Loại động cơ </label>
                                                <input class="form-control" type="text" name="engineType" 
                                                       value="@Model.ei.EngineType" require ="require">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Số xi lanh </label>

                                                <input class="form-control" type="text" name="cylinderNumber"
                                                       value="@Model.ei.NumberOfCylinder" require ="require">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Dung tích xi lanh </label>

                                                <input class="form-control" type="text" name="cylinderMaxCapacity"
                                                       value="@Model.ei.CylinderCapacity" require ="require"
                                                       pattern="([0-9]*(\.)?)[0-9]*" 
                                                       title="Xin hãy nhập 1 số thực">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Van biến thiên </label>

                                                <input class="form-control" type="text" name="variableVale"
                                                       value="@Model.ei.VariableValveSystem" required>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Hệ thống nguyên liệu </label>

                                                <input class="form-control" type="text" name="fuelSystem"
                                                       value="@Model.ei.FuelSystem" require ="require">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Dung tích tối đa </label>

                                                <input class="form-control" type="text" name="fuelCapacity"
                                                       value="@Model.ei.MaximumCapacity" require ="require"
                                                       pattern="([0-9]+)\/([0-9]+)" 
                                                       title="Hãy nhập theo format số/số">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Tốc độ mô-đen xoắn lớn nhất</label>
                                                <input class="form-control" type="text" name="maxTorque"
                                                       value="@Model.ei.MaximumTorque" require ="require"
                                                       pattern="([0-9]+)\/([0-9]+)(\-[0-9]+)?" 
                                                       title="Xin hãy nhập theo format số/số hoặc số/số-số">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label class="control-label" >Hộp số</label>
                                                <input class="form-control" type="text" name="gear"
                                                       value="@Model.ei.Gear" require ="require">
                                            </div>

                                        </div>
                                    </fieldset>

                                    <fieldset class="form-group col-md-12">
                                        <legend>Giới thiệu xe</legend>
                                        <div>
                                            <textarea class="form-control"  name="description" id="default" >@Model.gic.Description</textarea>
                                        </div>
                                    </fieldset>

                                    <fieldset class="form-group col-md-12">
                                        <legend>Ảnh xe</legend>
                                        <div class="row">

                                            <div class="form-group">

                                                <div class="col-md-12">
                                                    <label  class="control-label">Ảnh chính cho sản phẩm</label>
                                                    <p class="text-warning">@ViewBag.mess</p>
                                                </div>
                                                <div class="col-md-4" style="margin-top: 20px;">
                                                    <div id="myfileupload">
                                                        <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
                                                    </div>
                                                    <div id="thumbbox">
                                                        <img height="200" width="200" alt="Lỗi" id="thumbimage" style="display: none" />
                                                        <a class="removeimg" href="javascript:"></a>
                                                    </div>
                                                    <div id="boxchoice">
                                                        <a href="javascript:" class="Choicefile" onclick="document.getElementById('uploadfile').click();"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh thay đổi</a>
                                                        <p style="clear:both"></p>
                                                    </div>
                                                    <div>
                                                        <img height="200" width="200" alt="Lỗi" id="thumbimage" style="display: none" src="~/img/xe/@Model.ci"/>
                                                        <a class="removeimg" href="javascript:"></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="control-label">Ảnh phụ cho sản phẩm</label>
                                                    <p class="text-warning">@ViewBag.messSubIMG</p>
                                                </div>
                                                <div class="col-md-4" style="margin-top: 20px;">
                                                    <div id="myfileuploadSubIMG">
                                                        <input type="file" id="uploadfileSubIMG" name="SubImageUpload" onchange="readSubURL(this);" />
                                                    </div>
                                                    <div id="thumbboxSubIMG">
                                                        <img height="200" width="200" alt="Lỗi" id="thumbimageSubIMG" style="display: none" />
                                                        <a class="removeimg" href="javascript:"></a>
                                                    </div>
                                                    <div id="boxchoiceSubIMG">
                                                        <a href="javascript:" class="Choicefile" onclick="document.getElementById('uploadfileSubIMG').click();"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh thay đổi</a>
                                                        <p style="clear:both"></p>
                                                    </div>
                                                    <div>
                                                        <img height="200" width="200" alt="Lỗi" id="thumbimage" style="display: none" src="~/img/xe/@Model.csi"/>
                                                        <a class="removeimg" href="javascript:"></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>

                                    <script>
                                        ClassicEditor
                                                .create(document.querySelector('#editor'), {
                                                })
                                                .then(editor => {
                                                    window.editor = editor;
                                                })
                                                .catch(err => {
                                                    console.error(err.stack);
                                                });


                                    </script>
                                </div>
                            </div>
                            <button class="btn btn-save" type="submit">Lưu lại</button>
                            <!<!-- send input action to servlet to know what action need -->
                            <input type="hidden" name="action" value="EditCar"/>
                            <a class="btn btn-cancel" href="carlist" onclick="confirmCancel(event);">Hủy bỏ</a>
                            <c:if test="${msg != null}">
                                <span class="text-success">@ViewBag.msg</span>
                            </c:if>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Essential javascripts for application to work-->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

        <script src="js/plugins/pace.min.js"></script>
        <script src="~/tinymce/tinymce.min.js"></script>
        <script src="~/assets/Staff/js/TinyMCE.js"></script>