﻿@page
@model Auto99.Pages.Staff.CarListModel
@using Auto99.Models
@{
    ViewData["Title"] = "CarList";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}
<div class="container">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách sản phẩm</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        @if (Model.HttpContext.Session.GetString("Role") != null && Model.HttpContext.Session.GetString("Role").Equals("admin"))
                        {
                            <div class="col">
                                <a class="btn btn-add btn-sm" href="/Staff/CarCreate" title="Thêm">
                                    <i class="fas fa-plus"></i>
                                    Tạo mới sản phẩm
                                </a>
                                <a class="btn btn-add btn-sm" href="/Staff/BrandList" title="Thêm">
                                    <i class="fas fa-plus"></i>
                                    Xem danh sách hãng xe
                                </a>
                                <a class="btn btn-add btn-sm" href="/Staff/DesignList" title="Thêm">
                                    <i class="fas fa-plus"></i>
                                    Xem danh sách thiết kế
                                </a>
                            </div>
                        }

                    </div>

                    <div class="row search-length">
                        <div class="col-sm-12 col-md-8 text-lg-left">
                            <form asp-action="carlist" id="submitFormFilter" method="post">
                                <div class="length-box" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                    <label>
                                        Hiện
                                        <select id="quantitySelect" name="quantityShow" onchange="changeQuantity()" aria-controls="sampleTable" class="form-control form-control-sm">
                                            <option value="5" selected=@(ViewBag.quantityShow==5)>5</option>
                                            <option value="10" selected=@(ViewBag.quantityShow==10)>10</option>
                                            <option value="25" selected=@(ViewBag.quantityShow==25)>25</option>
                                            <option value="50" selected=@(ViewBag.quantityShow==50)>50</option>
                                        </select> danh mục
                                    </label>
                                    <label>
                                        Hãng
                                        <select style="width: 120px" id="quantitySelect" name="brandID" onchange="changeBrand()" aria-controls="sampleTable" class="form-control form-control-sm">
                                            <option value="0" selected=@(ViewBag.brand==0)>Chọn</option>
                                            @foreach (CarBrand b in Model.BrandList)
                                            {
                                                <option value="@b.BrandId" selected=@(ViewBag.brandID == b.BrandId)>@b.BrandName</option>
                                            }
                                        </select>
                                    </label>
                                    <label>
                                        Thiết Kế
                                        <select style="width: 120px" id="quantitySelect" name="designID" onchange="changeDesign()" aria-controls="sampleTable" class="form-control form-control-sm">
                                            <option value="0" selected=@(ViewBag.design==0)>Chọn</option>
                                            @foreach (CarDesign d in Model.DesignList)
                                            {
                                                <option value="@d.DesignId" selected=@(ViewBag.designID == d.DesignId)>@d.Design</option>
                                            }
                                        </select>
                                    </label>
                                    <label>
                                        Trạng Thái
                                        <select style="width: 120px" id="quantitySelect" name="statusID" onchange="changeStatus()" aria-controls="sampleTable" class="form-control form-control-sm">
                                            <option value="0" selected=@(ViewBag.status==0)>Chọn</option>
                                            @foreach (StatusCategory s in Model.StatusList)
                                            {
                                                <option value="@s.StatusId" selected=@(ViewBag.statusID == s.StatusId)>@s.StatusName</option>
                                            }
                                        </select>
                                    </label>
                                    <input type="hidden" name="name" value="@ViewBag.name">
                                    <input type="hidden" name="quantityShow" value="@ViewBag.quantity">
                                    <input type="hidden" name="minPrice" value="@ViewBag.minPrice" />
                                    <input type="hidden" name="maxPrice" value="@ViewBag.maxPrice" />

                                </div>
                            </form>
                            <div class="length-box">
                                <form asp-action="carlist" method="post">
                                    <div class="price-input">
                                        <div class="field">
                                            <span>Min</span>
                                            @* <fmt:formatNumber value="@ViewBag.minPrice" type="number" pattern="#,###" var="formattedValue" /> *@
                                            @* <input type="text" name="minPrice" class="input-min" value="formatCurrency(@ViewBag.minPrice))"> *@
                                            <input type="text" id="minPriceInput" name="minPrice" class="input-min">
                                            @* <span> VNĐ</span> *@
                                        </div>
                                        <div class="separator">-</div>
                                        <div class="field">
                                            <span>Max</span>
                                            @* <fmt:formatNumber value="@ViewBag.maxPrice" type="number" pattern="#,###" var="formattedValue" /> *@
                                            @* <input type="text" name="maxPrice" class="input-max" value="@(ViewBag.maxPrice.ToString("N0")+" ₫")"> *@
                                            <input type="text" id="maxPriceInput" name="maxPrice" class="input-max">
                                            @* <span> VNĐ</span> *@
                                        </div>
                                        <div class="separator">
                                            <button type="submit" class="btn btn-outline-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="slider">
                                        @{
                                            double leftpercen = ViewBag.minPrice / ViewBag.MAXCarPrice * 100;
                                            double rightpercen = (ViewBag.MAXCarPrice - ViewBag.maxPrice) / ViewBag.MAXCarPrice * 100;
                                        }
                                        <div class="progress" style="left: @leftpercen%; right: @rightpercen%"></div>
                                        @* <div class="progress"></div> *@
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="range-min" min="0" max="@ViewBag.MAXCarPrice" value="@ViewBag.minPrice" step="1000000">
                                        <input type="range" class="range-max" min="0" max="@ViewBag.MAXCarPrice" value="@ViewBag.maxPrice" step="1000000">
                                    </div>
                                    <input type="hidden" name="name" value="@ViewBag.name" />
                                    <input type="hidden" name="pageIndex" value="1" />
                                    <input type="hidden" name="quantityShow" value="@ViewBag.quantityShow" />
                                    <input type="hidden" name="brandID" value="@ViewBag.brandID" />
                                    <input type="hidden" name="designID" value="@ViewBag.designID" />
                                    <input type="hidden" name="statusID" value="@ViewBag.statusID" />
                                </form>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-4">
                            <form asp-action="carlist" method="post">
                                <div class="search-box">
                                    <label>
                                        Tìm kiếm:<input type="search" value="@ViewBag.name" required="required" name="name" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                                        <button type="submit" type="button" class="btn btn-success" fdprocessedid="wjwv0s">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                            </svg>
                                        </button>
                                    </label>
                                    <input type="hidden" name="pageIndex" value="1" />
                                    <input type="hidden" name="quantityShow" value="@ViewBag.quantityShow" />
                                    <input type="hidden" name="brandID" value="@ViewBag.brandID" />
                                    <input type="hidden" name="designID" value="@ViewBag.designID" />
                                    <input type="hidden" name="statusID" value="@ViewBag.statusID" />
                                    <input type="hidden" name="minPrice" value="@ViewBag.minPrice" />
                                    <input type="hidden" name="maxPrice" value="@ViewBag.maxPrice" />
                                </div>
                            </form>

                        </div>
                    </div>


                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th width="10"><input type="checkbox" id="all"></th>
                                <th>ID Xe</th>
                                <th>Tên Xe</th>
                                <th>Hãng</th>
                                <th>Thiết Kế</th>
                                <th>Tình Trạng</th>
                                <th>Giá Tiền</th>
                                @if (Model.HttpContext.Session.GetString("Role") != null && Model.HttpContext.Session.GetString("Role").Equals("admin"))
                                {
                                    <th>Chức Năng</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int ind = 1;
                            }
                            @foreach (CarStaffPage c in Model.CarList)
                            {
                                <tr>
                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                    <td>@(ind++)</td>
                                    <td>@c.carName</td>
                                    <td>@c.brandID.BrandName</td>
                                    <td>@c.design.Design</td>

                                    <td>
                                        <span class="badge @(c.status.StatusId == 1 ? "bg-success" : c.status.StatusId == 2 ? "bg-danger" : c.status.StatusId == 3 ? "bg-secondary" : "")">
                                            @c.status.StatusName
                                        </span>
                                    </td>

                                    <td>@(c.price.Value.ToString("N0") + " VNĐ")</td>
                                    @if (Model.HttpContext.Session.GetString("Role") != null && Model.HttpContext.Session.GetString("Role").Equals("admin"))
                                    {
                                        <td style="text-align: center">
                                            <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                            data-target="@("#ModalUP" + c.carID)">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate">
                                <ul class="pagination">

                                    <li class="paginate_button page-item previous @(ViewBag.pageindex.Equals(1) ? "disabled" : "")" id="sampleTable_previous">
                                        <form asp-action="carlist" method="post">
                                            <input type="hidden" name="pageIndex" value="@(int.Parse(ViewBag.pageindex.ToString()) - 1)">
                                            <input type="hidden" name="name" value="@ViewBag.name">
                                            <input type="hidden" name="quantityShow" value="@ViewBag.quantityShow">
                                            <input type="hidden" name="brandID" value="@ViewBag.brandID" />
                                            <input type="hidden" name="designID" value="@ViewBag.designID" />
                                            <input type="hidden" name="statusID" value="@ViewBag.statusID" />
                                            <input type="hidden" name="minPrice" value="@ViewBag.minPrice" />
                                            <input type="hidden" name="maxPrice" value="@ViewBag.maxPrice" />
                                            <button type="submit" class="page-link">Lùi</button>
                                        </form>
                                    </li>


                                    @for (int i = 1; i <= ViewBag.endPage; i++)
                                    {
                                        <li class="paginate_button page-item @(ViewBag.pageIndex == i?"active":"")">
                                            <form asp-action="employeelist" method="post">
                                                <input type="hidden" name="pageIndex" value="@i">
                                                <input type="hidden" name="name" value="@ViewBag.name">
                                                <input type="hidden" name="quantityShow" value="@ViewBag.quantityShow">
                                                <input type="hidden" name="brandID" value="@ViewBag.brandID" />
                                                <input type="hidden" name="designID" value="@ViewBag.designID" />
                                                <input type="hidden" name="statusID" value="@ViewBag.statusID" />
                                                <input type="hidden" name="minPrice" value="@ViewBag.minPrice" />
                                                <input type="hidden" name="maxPrice" value="@ViewBag.maxPrice" />
                                                <button type="submit" class="page-link">@i</button>
                                            </form>
                                        </li>
                                    }

                                    <li class="paginate_button page-item previous @(ViewBag.pageIndex.Equals(ViewBag.endPage) ? "disabled" : "")" id="sampleTable_next">
                                        <form asp-action="employeelist" method="post">
                                            <input type="hidden" name="pageIndex" value="@(int.Parse(ViewBag.pageIndex.ToString()) + 1)">
                                            <input type="hidden" name="name" value="@ViewBag.name">
                                            <input type="hidden" name="quantityShow" value="@ViewBag.quantityShow">
                                            <input type="hidden" name="brandID" value="@ViewBag.brandID" />
                                            <input type="hidden" name="designID" value="@ViewBag.designID" />
                                            <input type="hidden" name="statusID" value="@ViewBag.statusID" />
                                            <input type="hidden" name="minPrice" value="@ViewBag.minPrice" />
                                            <input type="hidden" name="maxPrice" value="@ViewBag.maxPrice" />
                                            <button type="submit" class="page-link">Tiến</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    MODAL
    -->
    @foreach (CarStaffPage c in ViewBag.CarList)
    {
        <form asp-action="carlist" method="post">

            <div class="modal fade" id="ModalUP@(c.carID)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                 data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group  col-md-12">
                                    <span class="thong-tin-thanh-toan">
                                        <h5>Chỉnh sửa thông tin xe cơ bản</h5>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <input type="hidden" name="carID" value="@(c.carID)" />
                                <div class="form-group col-md-12">
                                    <label class="control-label">Tên Xe</label>
                                    <input class="form-control" name="carName" type="text" required value="@(c.carName)" readonly style="cursor: not-allowed">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Tình Trạng</label>
                                    <select class="form-control" name="statusChangeID">
                                        @foreach (StatusCategory s in ViewBag.StatusList)
                                        {
                                            <option value="@(s.StatusId)" selected="@(s.StatusId == c.status.StatusId)">@(s.StatusName)</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Giá bán</label>
                                    <input class="form-control" type="text" value="@(c.price)" name="price" require="require"
                                           pattern="([0-9]*(\.)?)[0-9]*"
                                           title="Xin hãy nhập 1 số thực">
                                </div>

                                <div class="form-group  col-md-6">
                                    <label class="control-label">Ngày tạo</label>

                                    @* <fmt:parseDate var="parsedDate" value="${c.getCreatedOn()}" pattern="yyyy-MM-dd'T'HH:mm" />
                                <fmt:formatDate var="formattedDate" value="${parsedDate}" pattern="dd-MM-yyyy hh:mm a" /> *@
                                    <input class="form-control" type="text" required value="@(c.createdOn)" readonly style="cursor: not-allowed">
                                </div>
                                <div class="form-group  col-md-6">
                                    <label class="control-label">Ngày sửa gần nhất</label>
                                    @* <fmt:parseDate var="parsedDate" value="${c.getModifiedOn()}" pattern="yyyy-MM-dd'T'HH:mm" />
                                <fmt:formatDate var="formattedDate" value="${parsedDate}" pattern="dd-MM-yyyy hh:mm a" /> *@
                                    <input class="form-control" type="text" required value="@(c.modifiedOn)" readonly style="cursor: not-allowed">
                                </div>
                                <div class="form-group  col-md-6">
                                    <label class="control-label">Người tạo</label>
                                    <input class="form-control" type="text" required value="@(c.createdBy!= null ? c.createdBy.AccName:"")" readonly style="cursor: not-allowed">
                                </div>
                                <div class="form-group  col-md-6">
                                    <label class="control-label">Người sửa gần nhất</label>
                                    <input class="form-control" type="text" required value="@(c.modifiedBy!= null ? c.modifiedBy.AccName:"")" readonly style="cursor: not-allowed">
                                </div>

                                <input type="hidden" name="pageIndex" value="@(ViewBag.pageindex)">
                                <input type="hidden" name="name" value="@ViewBag.name">
                                <input type="hidden" name="quantityShow" value="@ViewBag.quantityShow">
                                <input type="hidden" name="brandID" value="@ViewBag.brandID" />
                                <input type="hidden" name="designID" value="@ViewBag.designID" />
                                <input type="hidden" name="statusID" value="@ViewBag.statusID" />
                                <input type="hidden" name="minPrice" value="@ViewBag.minPrice" />
                                <input type="hidden" name="maxPrice" value="@ViewBag.maxPrice" />
                                <input type="hidden" name="action" value="update" />

                            </div>
                            <BR>
                            <a href="/Staff/CarEdit?action=CarEdit&carID=@(c.carID)"
                               style="float: right;
                                       font-weight: 600;
                                       color: #ea0000;">Chỉnh sửa sản phẩm nâng cao</a>
                            <BR>
                            <BR>
                            <button class="btn btn-save" type="submit">Lưu lại</button>
                            <!<!-- send input action to servlet to know what action need -->
                            <!--                                    <input type="hidden" name="action" value="UpdateCar"/>-->
                            <a class="btn btn-cancel" data-dismiss="modal" href="#" onclick="confirmCancel(event);">Hủy bỏ</a>
                            <BR>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    <!--
    MODAL
        -->
</div>
<script>
    function confirmCancel(event) {
        var confirmation = confirm("Bạn có chắc chắn muốn huỷ thay đổi xe?");
        if (!confirmation) {
            event.preventDefault(); // Ngăn chặn điều hướng đến đường dẫn URL
        }
    }

</script>


<script>
    //            const rangeInput = document.querySelectorAll(".range-input input"),
    //                    priceInput = document.querySelectorAll(".price-input input"),
    //                    range = document.querySelector(".slider .progress");
    //            let priceGap = 0;
    //            priceInput.forEach(input => {
    //                input.addEventListener("input", e => {
    //                    let minPrice = parseInt(priceInput[0].value),
    //                            maxPrice = parseInt(priceInput[1].value);
    //
    //                    if ((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max) {
    //                        if (e.target.className === "input-min") {
    //                            rangeInput[0].value = minPrice;
    //                            range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
    //                        } else {
    //                            rangeInput[1].value = maxPrice;
    //                            range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
    //                        }
    //                    }
    //                });
    //            });
    //            rangeInput.forEach(input => {
    //                input.addEventListener("input", e => {
    //                    let minVal = parseInt(rangeInput[0].value),
    //                            maxVal = parseInt(rangeInput[1].value);
    //                    if ((maxVal - minVal) < priceGap) {
    //                        if (e.target.className === "range-min") {
    //                            rangeInput[0].value = maxVal - priceGap;
    //                        } else {
    //                            rangeInput[1].value = minVal + priceGap;
    //                        }
    //                    } else {
    //                        priceInput[0].value = minVal;
    //                        priceInput[1].value = maxVal;
    //                        range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
    //                        range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
    //                    }
    //                });
    //            });

    const rangeInput = document.querySelectorAll(".range-input input"),
        priceInput = document.querySelectorAll(".price-input input"),
        range = document.querySelector(".slider .progress");
    let priceGap = 0;

    // Function to get and set the cursor position in an input element
    function setCursor(input, start, end) {
        input.setSelectionRange(start, end);
    }

    // Function to prevent input exceeding the maximum
    function preventInputExceedingMax(input, max) {
        input.addEventListener("input", (e) => {
            if (parseFloat(e.target.value.replace(/\D/g, '')) > max) {
                e.target.value = formatCurrency(max);
                setCursor(e.target, e.target.selectionStart, e.target.selectionEnd);
            }
        });
    }

    priceInput.forEach((input, index) => {
        preventInputExceedingMax(input, rangeInput[1].max);

        input.addEventListener("input", (e) => {
            let minPrice = parseFloat(priceInput[0].value.replace(/\D/g, ''));
            let maxPrice = parseFloat(priceInput[1].value.replace(/\D/g, ''));

            if (maxPrice - minPrice >= priceGap && maxPrice <= rangeInput[1].max) {
                if (e.target.className === "input-min") {
                    rangeInput[0].value = minPrice;
                    range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
                } else {
                    rangeInput[1].value = maxPrice;
                    range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                }

                // Format minPrice and maxPrice as VNĐ
                priceInput[0].value = formatCurrency(minPrice);
                priceInput[1].value = formatCurrency(maxPrice);

                // Restore cursor position
                setCursor(priceInput[index], e.target.selectionStart, e.target.selectionEnd);
            }
        });
    });

    rangeInput.forEach((input) => {
        input.addEventListener("input", (e) => {
            let minVal = parseInt(rangeInput[0].value);
            let maxVal = parseInt(rangeInput[1].value);
            if (maxVal - minVal < priceGap) {
                if (e.target.className === "range-min") {
                    rangeInput[0].value = maxVal - priceGap;
                } else {
                    rangeInput[1].value = minVal + priceGap;
                }
            } else {
                priceInput[0].value = formatCurrency(minVal);
                priceInput[1].value = formatCurrency(maxVal);

                // Restore cursor position
                setCursor(priceInput[0], e.target.selectionStart, e.target.selectionEnd);
            }

            range.style.left = (minVal / rangeInput[0].max) * 100 + "%";
            range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        var minPrice = parseFloat('@ViewBag.minPrice');
        var formattedMinPrice = formatCurrency(minPrice);
        document.getElementById("minPriceInput").value = formattedMinPrice;

        var minPrice = parseFloat('@ViewBag.maxPrice');
        var formattedMaxPrice = formatCurrency(minPrice);
        document.getElementById("maxPriceInput").value = formattedMaxPrice;
    });


    // Function to format a number as VNĐ
    function formatCurrency(number) {
        const formatter = new Intl.NumberFormat("vi-VN", {
            style: "currency",
            currency: "VND",
        });
        return formatter.format(number);
    }
</script>

<script>
    function changeQuantity() {
        document.getElementById("submitFormFilter").submit();
    }
    function changeBrand() {
        document.getElementById("submitFormFilter").submit();
    }
    function changeStatus() {
        document.getElementById("submitFormFilter").submit();
    }
    function changeDesign() {
        document.getElementById("submitFormFilter").submit();
    }
</script>

<script>
    // Function to format the price input with commas
    function formatPriceInput(input) {
        let value = input.value.replace(/\D/g, ''); // Remove non-numeric characters
        value = new Intl.NumberFormat().format(value); // Format with commas
        input.value = value;
    }

    // Function to validate that the input is a valid number
    function validatePriceInput(input) {
        let value = input.value.replace(/\D/g, ''); // Remove non-numeric characters
        if (isNaN(value)) {
            input.value = ''; // Clear the input if it's not a valid number
        }
    }

    // Add event listeners to the input fields for formatting and validation
    const minPriceInput = document.getElementById('minPrice');
    minPriceInput.addEventListener('input', () => {
        formatPriceInput(minPriceInput);
    });
    minPriceInput.addEventListener('blur', () => {
        validatePriceInput(minPriceInput);
    });

    const maxPriceInput = document.getElementById('maxPrice');
    maxPriceInput.addEventListener('input', () => {
        formatPriceInput(maxPriceInput);
    });
    maxPriceInput.addEventListener('blur', () => {
        validatePriceInput(maxPriceInput);
    });
</script>