﻿@page
@model Auto99.Pages.Staff.CarOrderListModel
@using Auto99.Models;
@{
    ViewData["Title"] = "Car Order List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Danh sách đặt cọc</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                </div>

                <div class="row search-length">
                    <div class="col-sm-12 col-md-8">
                        <form asp-action="carorderlist" id="submitForm" method="post">
                            <div class="length-box" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                <label>
                                    Hiện
                                    <select name="quantity" aria-controls="sampletable" class="form-control form-control-sm" onchange="submitForm()">
                                        <option value="10" selected=@(ViewBag.quantity == 10)>10</option>
                                        <option value="25" selected=@(ViewBag.quantity == 25)>25</option>
                                        <option value="50" selected=@(ViewBag.quantity == 50)>50</option>
                                        <option value="100" selected=@(ViewBag.quantity == 100)>100</option>
                                    </select> danh mục
                                </label>
                                <label>
                                    Thanh toán
                                    <select id="quantitySelect" name="paymentType" style="width: 150px" onchange="submitForm()" class="form-control form-control-sm">
                                        <option value="" selected="@(string.IsNullOrEmpty(ViewBag.paymentType.ToString()) ? true : false)">Chọn</option>
                                        <option value="true" selected="@(ViewBag.paymentType == "true" ? true : false)">ZaloQR</option>
                                        <option value="false" selected="@(ViewBag.paymentType == "false" ? true : false)">Chuyển khoản</option>
                                    </select>
                                </label>
                                <label>
                                    Trạng thái
                                    <select id="quantitySelect" style="width: 150px" name="status" onchange="submitForm()" class="form-control form-control-sm">
                                        <option value="">Chọn</option>
                                        <option value="2" selected="@(ViewBag.status.Equals("2"))">Bị hủy</option>
                                        <option value="1" selected="@(ViewBag.status.Equals("1"))">Đã đặt cọc</option>
                                        <option value="0" selected="@(ViewBag.status.Equals("0"))">Chờ xét duyệt</option>
                                    </select>
                                </label>
                                <label>
                                    Duyệt từ
                                    <input style="width: 120px; text-align: center" onchange="submitForm()" class="form-control form-control-sm" data-input type="date" name="startDate" value="@ViewBag.startDate">
                                    đến
                                    <input style="width: 120px; text-align: center" onchange="submitForm()" class="form-control form-control-sm" data-input type="date" name="endDate" value="@ViewBag.endDate">
                                </label>
                            </div>
                            <input type="hidden" name="search" value="@(ViewBag.search)" />
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <form asp-action="carorderlist" method="post">
                            <div class="search-box">
                                <label>
                                    Tìm kiếm:<input type="search" value="@ViewBag.search" name="search" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                                </label>
                                <input type="hidden" name="index" value="1" />
                                <input type="hidden" name="status" value="@ViewBag.status" />
                                <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                <input type="hidden" name="paymentType" value="@ViewBag.paymentType" />
                                <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                <button type="submit" class="btn btn-success" fdprocessedid="wjwv0s">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th style="text-align: center">ID</th>
                            <th style="text-align: center">Mã đơn hàng</th>
                            <th style="text-align: center">Tên khách hàng</th>
                            <th style="text-align: center">Tên xe</th>
                            <th style="text-align: center">Phương thức thanh toán</th>
                            @* <th style="text-align: center">Số tiền phải trả</th> *@
                            <th style="text-align: center">Số tiền đặt cọc</th>
                            @* <th style="text-align: center">Số tiền còn thiếu</th> *@
                            <th style="text-align: center">Ngày tạo</th>
                            <th style="text-align: center">Ngày duyệt</th>
                            <th style="text-align: center">Mã voucher</th>
                            <th style="text-align: center">Trạng thái</th>
                            @if (Model.HttpContext.Session.GetString("Role") != null && (Model.HttpContext.Session.GetString("Role").Equals("admin") || Model.HttpContext.Session.GetString("Role").Equals("seller")))
                            {
                                <th style="text-align: center">Chức Năng</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ind = 1;
                        }
                        @foreach (CarOrder i in Model.ListCarOrder)
                        {
                            Client ca = Model.ListCustomer.Where(x => x.ClientId == i.ClientId).FirstOrDefault();
                            Car c = Model.ListCarName.Where(x => x.CarId == i.CarId).FirstOrDefault();
                            string v = Model.ListVoucher.Where(x => x.VoucherId == i.VoucherId).Select(x => x.VoucherCode).FirstOrDefault();
                            <tr>
                                <td style="width: 20px; text-align: center">@(ind++)</td>
                                <td style="width: 100px;">@i.CarorderCode</td>
                                <td style="width: 150px;">@ca.ClientName</td>
                                <td style="width: 150px;">@c.CarName</td>
                                <td style="text-align: center;">@(i.PaymentType.Value ? "ZaloQR" : "Chuyển khoản")</td>
                                @* <td style="width: 200px;text-align: center"><fmt:formatNumber value="${i.orderValue}" type="number" pattern="#,###" /> VNĐ</td> *@
                                <td style="width: 150px;text-align: center">@(i.Paid.Value.ToString("N0") + " VNĐ")</td>
                                @* <td style="width: 170px;text-align: center"><fmt:formatNumber value="${i.paymentRequired}" type="number" pattern="#,###" /> VNĐ</td> *@
                                <td style="text-align: center">
                                    @(i.CreatedOn.Value.ToString("dd/MM/yyyy"))
                                </td>
                                <td style="text-align: center">
                                    @(i.OrderDate != null ? i.OrderDate.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td style="width: 100px;">@v</td>
                                <td style="text-align: center;">
                                    <span class="badge @(i.Status == "0" ? "bg-warning" : i.Status == "1" ? "bg-success" : i.Status == "2" ? "bg-secondary" : "")">
                                        @(i.Status == "0" ? "Chờ xét duyệt" : i.Status == "1" ? "Đã đặt cọc" : i.Status == "2" ? "Bị hủy" : "")
                                    </span>
                                </td>
                                @if (Model.HttpContext.Session.GetString("Role") != null && (Model.HttpContext.Session.GetString("Role").Equals("admin") || Model.HttpContext.Session.GetString("Role").Equals("seller")))
                                {
                                    <td style="text-align: center">
                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                data-target="@("#ModalUP" + i.CarorderId)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" role="status">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate">
                            <ul class="pagination">

                                <li class="paginate_button page-item previous @(ViewBag.index.Equals(1) ? "disabled" : "")" id="sampleTable_previous">
                                    <form asp-action="carorderlist" method="post">
                                        <input type="hidden" name="index" value="@(int.Parse(ViewBag.index.ToString()) - 1)">
                                        <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                        <input type="hidden" name="search" value="@ViewBag.search" />
                                        <input type="hidden" name="paymentType" value="@ViewBag.paymentType" />
                                        <input type="hidden" name="status" value="@ViewBag.status" />
                                        <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                        <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                        <button type="submit" class="page-link">Lùi</button>
                                    </form>
                                </li>


                                @for (int inj = 1; inj <= ViewBag.endPage; inj++)
                                {
                                    <li class="paginate_button page-item @(ViewBag.index.Equals(inj.ToString())?"active":"")">
                                        <form asp-action="carorderlist" method="post">
                                            <input type="hidden" name="index" value="@inj">
                                            <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                            <input type="hidden" name="paymentType" value="@ViewBag.paymentType" />
                                            <input type="hidden" name="search" value="@ViewBag.search" />
                                            <input type="hidden" name="status" value="@ViewBag.status" />
                                            <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                            <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                            <button type="submit" class="page-link">@inj</button>
                                        </form>
                                    </li>
                                }

                                <li class="paginate_button page-item previous @(ViewBag.index.Equals(ViewBag.endPage) ? "disabled" : "")" id="sampleTable_next">
                                    <form asp-action="carorderlist" method="post">
                                        <input type="hidden" name="index" value="@(int.Parse(ViewBag.index.ToString()) + 1)">
                                        <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                        <input type="hidden" name="paymentType" value="@ViewBag.paymentType" />
                                        <input type="hidden" name="search" value="@ViewBag.search" />
                                        <input type="hidden" name="status" value="@ViewBag.status" />
                                        <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                        <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                        <button type="submit" class="page-link">Tiến</button>
                                    </form>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>

<!--
MODAL
      -->
@foreach (CarOrder i in Model.ListCarOrder)
{
    <form asp-action="carorderlist" method="POST">
        <div class="modal fade" id="@("ModalUP"+i.CarorderId)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group  col-md-12">
                                <span class="thong-tin-thanh-toan">
                                    <h5>Chỉnh sửa thông tin Car Order</h5>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" name="carorderID" value="@(i.CarorderId)" />
                            <div class="form-group col-md-6">
                                <label class="control-label">Mã đơn hàng</label>
                                <input class="form-control" type="text" required value="@(i.CarorderCode)" readonly style="cursor: not-allowed">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="exampleSelect1" class="control-label">Trạng thái</label>
                                <select class="form-control" name="statusSelect">
                                    @if (i.Status != "2" && i.Status != "1")
                                    {
                                        <option selected="@(i.Status.Equals("0"))" value="0">Chờ xét duyệt</option>
                                    }

                                    @if (i.Status != "2")
                                    {
                                        <option selected="@(i.Status.Equals("1"))" value="1">Đã đặt cọc</option>
                                    }

                                    @if (i.Status != "1")
                                    {
                                        <option selected="@(i.Status.Equals("2"))" value="2">Bị hủy</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <BR>
                        <button class="btn btn-save" type="submit">Lưu lại</button>
                        <!<!-- send input action to servlet to know what action need -->
                        <input type="hidden" name="user" value="${sessionScope.acc.accID}">
                        <input type="hidden" name="action" value="UpdateCarOrder" />
                        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                        <BR>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </form>
}


<!--
MODAL
-->
<script>
    function submitForm() {
        document.getElementById("submitForm").submit();
    }

</script>