﻿@page
@model Auto99.Pages.Staff.CustomerListModel
@{
}
@{
    ViewData["Title"] = "Blog List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}


                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item">Danh sách khách hàng</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
@*                                 <div class="row element-button">

                                    <div class="col text-right">
                                        <a class="btn btn-add btn-sm" href="clientlist" title="Hiển thị tất cả">
                                            Hiển thị tất cả</a>
                                    </div>
                                </div> *@
                <form asp-action="customerlist" method="post" id="filterForm">
                                <div class="row search-length">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="length-box" >
                                            <input type="hidden" name="PageSize" id="quantityInput" value="@Model.PageSize" />

                                                <label>Hiện
                                    <select name="length" id="quantitySelect" onchange="submitForm()" aria-controls="sampleTable" class="form-control form-control-sm">
                                            <option value="10" selected=@(Model.PageSize.Equals(10))>10</option>
                                            <option value="25" selected=@(Model.PageSize.Equals(25))>25</option>
                                            <option value="50" selected=@(Model.PageSize.Equals(50))>50</option>
                                            <option value="100" selected=@(Model.PageSize.Equals(100))>100</option>
                                                    </select> danh mục
                                                </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                            <div class="search-box">

                                                <label>Tìm kiếm:<input name="Search" style="height: 40px; margin-right: 5px;" value="@Model.Search" type="search" class="form-control form-control-sm" placeholder="Nhập thông tin tìm kiếm" aria-controls="sampleTable">
                                        <button type="submit" class="btn btn-success" fdprocessedid="wjwv0s">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                        </svg>
                                                    </button></label>
                                            </div>
                                        
                                    </div>

                                </div>
                            </form>

                                <table class="table table-hover table-bordered" id="sampleTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th >Họ và tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th >Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Chức Năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @foreach(var item in Model.clientList){
                                            <tr>
                                                <td>@item.ClientId</td>
                                                <td>@item.ClientName</td>
                                                <td>@(item.Gender == true ? "Nam":"Nu")</td>
                                                <td>@item.Dob</td>
                                                <td>@item.Email</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>
                                                    <button style="margin-left: 30px;" class="btn btn-primary show" type="button" title="show" id="show-emp" data-toggle="modal"
                                                data-target="@("#ModalUP"+item.ClientId)">
                                            <i class="fas fa-eye"></i>
                                                </button>
                                                </td>
                                            </tr>
                                            }
                                            </tbody>
                                </table>

                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" role="status" >
@*                                             Hiện 1 đến 6 của 6 danh mục
 *@                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate">
                                            <ul class="pagination">
                                                @if (Model.PageNumber > 1)
                                                {
                                                    <li class="paginate_button page-item previous ">
                                                        <a class="page-link" href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@(Model.PageSize)">Previous</a>
                                                    </li>
                                                }

                                                @for (var i = 1; i <= Model.TotalPages; i++)
                                                {
                                                    <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="?pageNumber=@i&pageSize=@(Model.PageSize)">@i</a>
                                                    </li>
                                                }

                                                @if (Model.PageNumber < Model.TotalPages)
                                                {
                                                    <li class="paginate_button page-item next">
                                                        <a class="page-link" href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@(Model.PageSize)">Next</a>
                                                    </li>
                                                }
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
      MODAL
            -->
               @foreach(var item in Model.clientList){
                <div class="modal fade" id="@("ModalUP" + item.ClientId)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                     data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group  col-md-12">
                                        <span class="thong-tin-thanh-toan">
                                            <h5>Thông tin khách hàng</h5>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Tên khách hàng </label>
                                        <input readonly class="form-control" type="text" value="@item.ClientName">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Gioi tính</label>
                                        <input readonly class="form-control" type="text" value="@(item.Gender == true ? "Nam" : "Nu")">
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label class="control-label">Ngày sinh</label>
                                <input readonly class="form-control" type="text" value="@item.Dob">
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label class="control-label">email</label>
                                <input readonly class="form-control" type="text" value="@item.Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Số diện thoại</label>
                            <input readonly class="form-control" type="text" value="@item.PhoneNumber">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Số CCCD/CMND</label>
                            <input readonly class="form-control" type="text" value="@item.NoId">
                                    </div>

                                </div>
                                <BR>
                                <!--<button class="btn btn-save" type="button">Lưu lại</button>-->
                                <a class="btn btn-cancel" data-dismiss="modal">Ðóng</a>
                                <BR>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                }
<!--
            MODAL
            -->

            <!-- Essential javascripts for application to work-->
            <script>
                function submitForm() {
                    var selectElement3 = document.getElementById("quantitySelect");
                    var selectedValue3 = selectElement3.value;

                    // Update hidden input value
                    var quantityInput = document.getElementById("quantityInput");
                    quantityInput.value = selectedValue3;
                    // Submit the form
                    document.getElementById("filterForm").submit();
                }
            </script>

            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="src/jquery.table2excel.js"></script>
            <script src="js/main.js"></script>
            <!-- The javascript plugin to display page loading on top-->
            <script src="js/plugins/pace.min.js"></script>
            <!-- Page specific javascripts-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            <!-- Data table plugin-->
            <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>

