﻿@page
@model Auto99.Pages.Staff.DesignListModel
@using Auto99.Models;
@{
    ViewData["Title"] = "Design List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="/Staff/CarList">Danh sách sản phẩm</a></li>
        <li class="breadcrumb-item"><a href="/Staff/DesignList">Danh sách thiết kế</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">

                    <div class="col">
                        <a class="btn btn-add btn-sm" title="Thêm" id="show-emp" data-toggle="modal" data-target="#ModalUPAddDesign">
                            <i class="fas fa-plus"></i>
                            Tạo mới thiết kế
                        </a>
                    </div>
                </div>

                <div class="row search-length">
                    <div class="col-sm-12 col-md-6">
                        <div class="length-box">
                            <form asp-action="designlist" id="submitForm" method="post">
                                <label>
                                    Hiện
                                    <select name="quantity" aria-controls="sampletable" class="form-control form-control-sm" onchange="submitForm()">
                                        <option value="5" selected=@(ViewBag.quantity == 5)>5</option>
                                        <option value="10" selected=@(ViewBag.quantity == 10)>10</option>
                                        <option value="25" selected=@(ViewBag.quantity == 25)>25</option>
                                        <option value="50" selected=@(ViewBag.quantity == 50)>50</option>
                                    </select> danh mục
                                    <input type="hidden" name="name" value="@ViewBag.name">
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-lg-right">
                        <form asp-action="designlist" id="submitForm" method="post">
                            <div class="search-box">
                                <label>
                                    Tìm kiếm:<input type="search" value="@ViewBag.name" name="name" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                                </label>
                                <input type="hidden" name="index" value="1" />
                                <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                <button type="submit" class="btn btn-success" fdprocessedid="wjwv0s">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th>Mã thiết kế</th>
                            <th>Tên thiết kế</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (CarDesign b in Model.ListDes)
                        {
                            <tr>
                                <td width="10">
                                    <input type="checkbox" name="checkedServiceID" value="${service.getServiceID()}">
                                </td>
                                <td>@(i++)</td>
                                <td>@(b.Design)</td>
                                <td style="text-align: center">
                                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal" data-target="@("#ModalUP" +b.DesignId)"><i class="fas fa-edit"></i></button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate">
                            <ul class="pagination">

                                <li class="paginate_button page-item previous @(ViewBag.index.Equals(1) ? "disabled" : "")" id="sampleTable_previous">
                                    <form asp-action="designlist" method="post">
                                        <input type="hidden" name="index" value="@(int.Parse(ViewBag.index.ToString()) - 1)">
                                        <input type="hidden" name="quantity" value="@ViewBag.quantity">
                                        <input type="hidden" name="name" value="@ViewBag.name">
                                        <button type="submit" class="page-link">Lùi</button>
                                    </form>
                                </li>


                                @for (int ind = 1; ind <= ViewBag.endPage; ind++)
                                {
                                    <li class="paginate_button page-item @(ViewBag.index == ind?"active":"")">
                                        <form asp-action="designlist" method="post">
                                            <input type="hidden" name="index" value="@ind">
                                            <input type="hidden" name="quantity" value="@ViewBag.quantity">
                                            <input type="hidden" name="name" value="@ViewBag.name">
                                            <button type="submit" class="page-link">@ind</button>
                                        </form>
                                    </li>
                                }

                                <li class="paginate_button page-item previous @(ViewBag.index.Equals(ViewBag.endPage) ? "disabled" : "")" id="sampleTable_next">
                                    <form asp-action="designlist" method="post">
                                        <input type="hidden" name="index" value="@(int.Parse(ViewBag.index.ToString()) + 1)">
                                        <input type="hidden" name="quantity" value="@ViewBag.quantity">
                                        <input type="hidden" name="name" value="@ViewBag.name">
                                        <button type="submit" class="page-link">Tiến</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        
<!--
MODAL
      -->
@foreach (CarDesign b in Model.ListDes)
{
    <form asp-action="designlist" method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="@("ModalUP"+b.DesignId)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group  col-md-12">
                                <span class="thong-tin-thanh-toan">
                                    <h5>Chỉnh sửa thông tin thiết kế</h5>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" name="designID" value="@b.DesignId" />
                            <input type="hidden" name="action" value="update" />
                            <div class="form-group col-md-12">
                                <label class="control-label">Tên thiết kế</label>
                                <input class="form-control" name="designName" type="text" required value="@b.Design">
                            </div>

                        </div>
                        <BR>
                        <button class="btn btn-save" type="submit">Lưu lại</button>
                        <!<!-- send input action to servlet to know what action need -->
                        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                        <BR>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<!--
MODAL
-->

<form asp-action="designlist" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="ModalUPAddDesign" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Thêm thiết kế</h5>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">Tên thiết kế</label>
                            <input type="hidden" name="action" value="add" />
                            <input class="form-control" name="designName" type="text" required value="">
                        </div>
                    </div>
                    <BR>
                    <button class="btn btn-save" type="submit">Lưu lại</button>
                    <!<!-- send input action to servlet to know what action need -->
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</form>
<!--
MODAL
        -->
               


<!-- Essential javascripts for application to work-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>

<script>
    function confirmCancel(event) {
        var confirmation = confirm("Bạn có chắc chắn muốn huỷ thay đổi hãng xe?");
        if (!confirmation) {
            event.preventDefault(); // Ngăn chặn điều hướng đến đường dẫn URL
        }
    }
</script>


<script>
    function changeQuantity(selectElement) {
        var selectedValue = selectElement.value;
        // Create a form element
        var form = document.createElement('form');
        form.method = 'get';
        form.action = 'designlist'; // Set the URL of your servlet

        // Create an input element for the quantity
        var quantityInput = document.createElement('input');
        quantityInput.type = 'hidden';
        quantityInput.name = 'quantity';
        quantityInput.value = selectedValue;
        // Create an input element for the name
        var nameInput = document.createElement('input');
        nameInput.type = 'hidden';
        nameInput.name = 'name'; // Set the name to 'name'
        nameInput.value = '${name}'; // Set the value to the desired name

        // Append all input elements to the form
        form.appendChild(quantityInput);
        form.appendChild(nameInput);

        // Append the form to the body
        document.body.appendChild(form);
        // Submit the form
        form.submit();
    }
</script>

<script>
    function submitForm() {
        document.getElementById("submitForm").submit();
    }

</script>