﻿@page
@model Auto99.Pages.Staff.EmployeeListModel
@using Auto99.Models
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Danh sách nhân viên</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col text-left">
                        @if (Model.HttpContext.Session.GetString("Role") != null && Model.HttpContext.Session.GetString("Role").Equals("admin"))
                        {
                            <button style="margin-bottom: 15px;" class="btn btn-primary show" type="button" title="show" id="show-emp" data-toggle="modal"
                            data-target="#ModalADD">
                                Thêm nhân viên
                            </button>
                        }
                        <p class="text-danger">@ViewBag.messError</p>
                        <form asp-action="employeelist" method="post" id="filterForm">
                            <input type="hidden" name="action" value="filter">
                            <label for="filterName">Filter by:</label>
                            <select name="filter" id="filter" style="border: black solid 2px;" onchange="submitFilterForm()">
                                <option disabled selected>Giới tính</option>
                                <option value="1" selected=@(ViewBag.filter.Equals("1"))>Nam</option>
                                <option value="0" selected=@(ViewBag.filter.Equals("0"))>Nữ</option>
                            </select>
                            <input type="hidden" name="numberEmployeeDisplay" value="@ViewBag.numberEmployeeDisplay">
                            <input type="hidden" name="search" value="@ViewBag.search">
                        </form>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-add btn-sm" href="employeelist" title="Hiển thị tất cả">
                            Hiển thị tất cả
                        </a>
                    </div>
                </div>
                <div class="row search-length">
                    <div class="col-sm-12 col-md-6">
                        <div class="length-box">
                            <form asp-action="employeelist" id="submitForm" method="post">
                                <label>
                                    Hiện
                                    <select name="numberemployeedisplay" aria-controls="sampletable" class="form-control form-control-sm" onchange="submitForm()">
                                        <option value="5" selected=@(ViewBag.numberemployeedisplay.Equals("5"))>5</option>
                                        <option value="10" selected=@(ViewBag.numberemployeedisplay.Equals("10"))>10</option>
                                        <option value="25" selected=@(ViewBag.numberemployeedisplay.Equals("25"))>25</option>
                                        <option value="50" selected=@(ViewBag.numberemployeedisplay.Equals("50"))>50</option>
                                        <option value="100" selected=@(ViewBag.numberemployeedisplay.Equals("100"))>100</option>
                                    </select> danh mục
                                    <input type="hidden" name="search" value="@ViewBag.search">
                                    <input type="hidden" name="filter" value="@ViewBag.filter">
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <form asp-action="employeelist" method="post" id="formSearchClient">
                            <input type="hidden" name="action" value="search">
                            <div class="search-box">
                                <label>
                                    Tìm kiếm:<input name="search" style="height: 40px; margin-right: 5px;" type="search" class="form-control form-control-sm" placeholder="Nhập thông tin tìm kiếm" aria-controls="sampleTable" value="@ViewBag.search">
                                    <button onclick="submitFormSearchEmployee()" type="button" class="btn btn-success" fdprocessedid="wjwv0s">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                        </svg>
                                    </button>
                                </label>
                            </div>
                            <input type="hidden" name="numberEmployeeDisplay" value="@ViewBag.numberEmployeeDisplay">
                            <input type="hidden" name="filter" value="@ViewBag.filter">
                        </form>
                    </div>
                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Họ và tên</th>
                            <th>Ảnh đại diện</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Email</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int ind = 1;
                        }
                        @foreach (EmployeeProfile i in Model.ListEmp)
                        {
                            <tr>

                                <td>@(ind++)</td>
                                <td>@i.FirstName @i.LastName</td>
                                <td><img src="~/img/EmployeeIMG/@i.EmployeeId/@i.Img" width="100" height="100" alt="avarta" /></td>
                                <td>@(i.Gender ? "Nam" : "Nữ")</td>
                                <td>@i.Dob.ToString("dd/MM/yyyy")</td>
                                <td>@i.Email</td>
                                <td>
                                    <button style="margin-left: 30px;" class="btn btn-primary show" type="button" title="show" id="show-emp" data-toggle="modal"
                                            data-target=@("#ModalUP" + i.EmployeeId)>
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    @if (Model.HttpContext.Session.GetString("Role") != null && Model.HttpContext.Session.GetString("Role").Equals("admin"))
                                    {
                                        <button style="margin-left: 30px;" class="btn btn-primary show" type="button" title="show" id="show-emp" data-toggle="modal"
                                        data-target=@("#ModalEDIT" + i.EmployeeId)>
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate">
                            <ul class="pagination">

                                <li class="paginate_button page-item previous @(ViewBag.currentPage.Equals(1) ? "disabled" : "")" id="sampleTable_previous">
                                    <form asp-action="employeelist" method="post">
                                        <input type="hidden" name="page" value="@(int.Parse(ViewBag.currentPage.ToString()) - 1)">
                                        <input type="hidden" name="numberEmployeeDisplay" value="@ViewBag.numberEmployeeDisplay">
                                        <input type="hidden" name="search" value="@ViewBag.search">
                                        <input type="hidden" name="filter" value="@ViewBag.filter">
                                        <button type="submit" class="page-link">Lùi</button>
                                    </form>
                                </li>


                                @for (int i = 1; i <= ViewBag.endPage; i++)
                                {
                                    <li class="paginate_button page-item @(ViewBag.page.Equals(i.ToString())?"active":"")">
                                        <form asp-action="employeelist" method="post">
                                            <input type="hidden" name="page" value="@i">
                                            <input type="hidden" name="numberEmployeeDisplay" value="@ViewBag.numberEmployeeDisplay">
                                            <input type="hidden" name="search" value="@ViewBag.search">
                                            <input type="hidden" name="filter" value="@ViewBag.filter">
                                            <button type="submit" class="page-link">@i</button>
                                        </form>
                                    </li>
                                }

                                <li class="paginate_button page-item previous @(ViewBag.currentPage.Equals(ViewBag.endPage) ? "disabled" : "")" id="sampleTable_next">
                                    <form asp-action="employeelist" method="post">
                                        <input type="hidden" name="page" value="@(int.Parse(ViewBag.currentPage.ToString()) + 1)">
                                        <input type="hidden" name="numberEmployeeDisplay" value="@ViewBag.numberEmployeeDisplay">
                                        <input type="hidden" name="search" value="@ViewBag.search">
                                        <input type="hidden" name="filter" value="@ViewBag.filter">
                                        <button type="submit" class="page-link">Tiến</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--▼▼▼MODAL View-->
@foreach (EmployeeProfile i in Model.ListEmp)
{
    <div class="modal fade" id=@("ModalUP"+i.EmployeeId) tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
         data-keyboard="false" style="padding-right: 17px;padding-top: 20px;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Thông tin nhân viên</h5>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">Ảnh đại diện:</label>
                            <img src="~/img/EmployeeIMG/@i.EmployeeId/@i.Img" width="100" height="100" alt="avarta" style="margin-left: 100px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">Chức vụ:</label>
                            <input readonly class="form-control" type="text" value="@i.Role.RoleName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Họ:</label>
                            <input readonly class="form-control" type="text" value="@i.FirstName">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Tên:</label>
                            <input readonly class="form-control" type="text" value="@i.LastName">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Giới tính:</label>
                            <input readonly class="form-control" type="text" value="@(i.Gender?"Nam":"Nữ")">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-6">
                            <label class="control-label">Ngày sinh:</label>
                            <input readonly class="form-control" type="text" value="@i.Dob.ToString("dd/MM/yyyy")">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label class="control-label">Email:</label>
                            <input readonly class="form-control" type="text" value="@i.Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Số điện thoại:</label>
                            <input readonly class="form-control" type="text" value="@i.PhoneNumber">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">CMND:</label>
                            <input readonly class="form-control" type="text" value="@i.Idno">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Ðia chỉ:</label>
                            <input readonly class="form-control" type="text" value="@i.Address">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Ngày bắt đầu làm:</label>
                            <input readonly class="form-control" type="text" value="@i.StartDate.ToString("dd/MM/yyyy")">
                        </div>
                    </div>
                    <BR>
                    <a class="btn btn-cancel" data-dismiss="modal">Ðóng</a>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}
<!--▲▲▲MODAL VIEW-->
<!--▼▼▼MODAL EDIT-->
@foreach (EmployeeProfile i in Model.ListEmp)
{
    <div class="modal fade" id=@("ModalEDIT"+i.EmployeeId) tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
         data-keyboard="false" style="padding-right: 17px;padding-top: 20px;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Chỉnh sửa thông tin nhân viên</h5>
                            </span>
                        </div>
                    </div>
                    <form asp-action="employeelist" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="action" value="edit">
                        <input type="hidden" name="employeeID" value="@i.EmployeeId">
                        <input type="hidden" name="img1" value="@i.Img">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Ảnh đại diện:</label>
                                <input class="form-control" type="file" name="img" accept=".png, .jpg, .gif">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Chức vụ:</label>
                                <select class="form-control" name="roleId">
                                    @foreach (Role a in ViewBag.listRole)
                                    {
                                        <option selected=@(i.Role.RoleName.Equals(a.RoleName)) value="@a.RoleId">@a.RoleName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Họ:</label>
                                <input required class="form-control" type="text" name="firstName" value="@i.FirstName">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Tên:</label>
                                <input required class="form-control" type="text" name="lastName" value="@i.LastName">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Giới tính:</label>
                                <br>
                                <input type="radio" name="gender" checked=@(i.Gender) value="1"> Nam
                                <input type="radio" name="gender" checked=@(!i.Gender) value="0"> Nữ
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-6">
                                <label class="control-label">Ngày sinh:</label>
                                <input required class="form-control" type="date" name="DOB" value="@i.Dob.ToString("yyyy-MM-dd")">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label class="control-label">Email:</label>
                                <input required class="form-control" type="text" name="email" value="@i.Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Số điện thoại:</label>
                                <input required class="form-control" type="text" name="phoneNumber" value="@i.PhoneNumber">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">CMND:</label>
                                <input required class="form-control" type="text" name="IDNo" value="@i.Idno" maxlength="12" oninput="validateLength(this)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Ðia chỉ:</label>
                                <input required class="form-control" type="text" name="address" value="@i.Address">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Ngày bắt đầu làm:</label>
                                <input required class="form-control" type="date" name="startDate" value="@i.StartDate.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                        <BR>
                        <input class="btn btn-save" type="submit" value="Lưu lại">
                        <a class="btn btn-cancel" data-dismiss="modal">Ðóng</a>
                        <BR>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}
<!--▲▲▲MODAL EDIT-->
<!--▼▼▼MODAL ADD EMPLOYEE-->
<div class="modal fade" id="ModalADD" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="false" style="padding-right: 17px;padding-top: 20px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Thêm nhân viên</h5>
                        </span>
                    </div>
                </div>
                <form asp-action="employeelist" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="add">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Ảnh đại diện</label>
                            <input required class="form-control" type="file" name="img" accept=".png, .jpg, .gif">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Chức vụ:</label>
                            <select class="form-control" name="roleId">
                                @foreach (Role a in ViewBag.listRole)
                                {
                                    <option value="@a.RoleId">@a.RoleName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Tên tài khoản:</label>
                            <input required class="form-control" type="text" name="accountName">
                            <label class="control-label">Email:</label>
                            <input required class="form-control" type="text" name="email">
                            <label class="control-label">CMND:</label>
                            <input required class="form-control" type="text" name="IDNo">
                            <label class="control-label">Ngày sinh</label>
                            <input required class="form-control" type="date" name="DOB">

                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Họ:</label>
                            <input required class="form-control" type="text" name="firstName">

                            <label class="control-label">Tên:</label>
                            <input required class="form-control" type="text" name="lastName">

                            <label class="control-label">Số điện thoại:</label>
                            <input required="Bạn chưa nhập số điện thoại" class="form-control" type="text" name="phoneNumber"
                                   pattern="0[0-9]{9}" title="Số điện thoại phải bắt đầu bằng 0 và có 10 chữ số">

                            <label class="control-label">Địa chỉ:</label>
                            <input required class="form-control" type="text" name="address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Ngày bắt đầu làm:</label>
                            <input required="Bạn chưa nhập ngày làm" class="form-control" type="date" name="startDate">
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group col-md-12">
                                <label class="control-label">Giới tính</label>
                                <br>
                                <input checked type="radio" name="gender" value="1"> Nam
                                <input style="margin-left: 50px; " type="radio" name="gender" value="0"> Nữ
                            </div>
                        </div>
                    </div>
                    <br>
                    <input class="btn btn-save" type="submit" value="Lưu lại">
                    <a class="btn btn-cancel" data-dismiss="modal">Ðóng</a>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
<!--▲▲▲MODAL ADD EMPLOYEE-->
<!-- Essential javascripts for application to work-->
<script>
    function submitFilterForm() {
        document.getElementById("filterForm").submit();
    }
    function submitForm() {
        document.getElementById("submitForm").submit();
    }
    function submitFormSearchEmployee() {
        document.getElementById("formSearchClient").submit();
    }
    function validateLength(input) {
        if (input.value.length !== 12) {
            input.setCustomValidity("IDNo phải có đúng 12 ký tự.");
        } else {
            input.setCustomValidity("");
        }
    }
</script>