﻿@page
@model Auto99.Pages.Staff.LocationListModel
@using Auto99.Models
@{
    ViewData["Title"] = "Location List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}

            <div class="container">

                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Danh sách địa điểm</a></li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
                                <div class="row element-button">
                                    <div class="col">
                                        <a class="btn btn-add btn-sm" title="Thêm" id="show-emp" data-toggle="modal"
                                           data-target="#ModalUPAddLocation"><i class="fas fa-plus"></i>
                                            Tạo mới địa điểm</a>
                                    </div>
                                
                                  
                                    <div class="col text-right">
                                            <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="submitFormDeleteLo()"><i
                                            class="fas fa-trash-alt"></i> Xóa tất cả </a>
                                    </div>
                                  
                                </div>

                                <div class="row search-length">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="length-box" >
                                            <form asp-action="locationlist" id="submitForm" method="post">
                                                <label>Hiện 
                                                    <select name="quantity" aria-controls="sampletable" class="form-control form-control-sm" onchange="submitForm()">
                                                        <option value="5" selected=@(ViewBag.quantity.Equals("5")) >5</option>
                                                        <option value="10" selected=@(ViewBag.quantity.Equals("10")) >10</option>
                                                        <option value="25" selected=@(ViewBag.quantity.Equals("25")) >25</option>
                                                        <option value="50" selected=@(ViewBag.quantity.Equals("50")) >50</option>
                                                    </select> danh mục
                                                    <input type="hidden" name="name" value="@ViewBag.name">
                                                </label>
                                            </form>
                                        </div>
                                     </div>
                                        <div class="col-sm-12 col-md-6 text-lg-right">
                                            <form asp-action="locationlist" method="post">
                                                <div class="search-box">
                                                    <label>
                                                        Tìm kiếm:<input type="search"  name="name" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable" value="@ViewBag.name">
                                                    </label>
                                                <input type="hidden" name="pageIndex" value=@ViewBag.pageIndex />
                                                <input type="hidden" name="quantity" value=@ViewBag.quantity />
                                                <button type="submit" class="btn btn-success" fdprocessedid="wjwv0s">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>


                                <table class="table table-hover table-bordered" id="sampleTable">
                                    <thead>
                                        <tr>
                                            <th width="10"><input type="checkbox" id="all"></th>
                                            <th>Mã địa điểm</th>
                                            <th>Tên địa điểm</th>
                                            <th>Lệ phí trước bạ (%)</th>
                                            <th>Lệ phí đăng kí (VNĐ)</th>
                                                @* <c:if test="${acc != null && acc.getRoleID().getRoleID() == 1}"> *@
                                                <th>Người tạo</th>
                                                <th>Ngày tạo</th>
                                                <th>Người đổi</th>
                                                <th>Ngày đổi</th>
                                                @* </c:if> *@
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                                    int ind=1;
                                         }
                                        <form asp-action="locationlist" method="post" id="deleteLo">
                                            <input type="hidden" name="action" value="delete" />
                                            @foreach(Location i in Model.LocationList){
                                                <tr>
                                                    <td width="10">
                                                    @{
                                                        var checkBoxId = "checkedLo" + i.LocationId;
                                                        var isChecked = ViewBag.checkBoxId == checkBoxId ? "checked" : "";
                                                    }
                                                    <input type="checkbox" name="@checkBoxId" value="@checkBoxId" @isChecked />
                                                    </td>
                                                    <td>@(ind++)</td>
                                                    <td>@i.LocationName</td>
                                                    <td>@i.PreRegFee</td>
                                                    <td>@i.RegFee</td>
                                                    @* <c:if test="${acc != null && acc.getRoleID().getRoleID() == 1}"> *@
                                                        <td>
                                                        @if(!string.IsNullOrEmpty(i.CreatedBy.ToString())){
                                                             @ViewBag._empRepository.getEmployeeById(i.CreatedBy).Employee.AccName
                                                        }
                                                        </td>
                                                        <td>
                                                        @if(!string.IsNullOrEmpty(i.CreatedOn.ToString())){
                                                           @i.CreatedOn.Value.ToString("dd/MM/yyyy")
                                                        }
                                                        </td>
                                                        <td>
                                                        @if(!string.IsNullOrEmpty(i.ModifiedBy.ToString())){
                                                            @ViewBag._empRepository.getEmployeeById(i.ModifiedBy).Employee.AccName
                                                        }
                                                        </td>
                                                        <td>
                                                        @if (!string.IsNullOrEmpty(i.ModifiedOn.ToString()))
                                                        {
                                                           @i.ModifiedOn.Value.ToString("dd/MM/yyyy")
                                                        }
                                                        </td>
                                                    @* </c:if> *@
                                                    <td style="text-align: center">
                                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                                data-target=@("#ModalUP"+i.LocationId)><i class="fas fa-edit"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        </form>
                                        

                                    </tbody>
                                </table>

                                <div class="row">
                                    @* <div class="col-sm-12 col-md-5">
                                        <div class="datatables_info" role="status" >

                                            <c:choose>

                                                <c:when test = "${count>0}">
                                                    hiện ${(index-1)*quantity+1} đến 
                                                    ${((index*(quantity+1))>count) ? count : index*quantity}
                                                    của ${count} danh mục
                                                </c:when>

                                                <c:otherwise>
                                                    không có sản phẩm!
                                                </c:otherwise>
                                            </c:choose>

                                        </div>
                                    </div> *@
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate">
                                            <ul class="pagination">

                                                <li class="paginate_button page-item previous @(ViewBag.currentPage.Equals(1) ? "disabled" : "")" id="sampleTable_previous">
                                                    <form asp-action="locationlist" method="post">
                                                        <input type="hidden" name="currentPage" value="@(int.Parse(ViewBag.currentPage.ToString()) - 1)">
                                                        <input type="hidden" name="quantity" value="@ViewBag.quantity">
                                                        <input type="hidden" name="name" value="@ViewBag.name">    
                                                        <button type="submit" class="page-link">Lùi</button>
                                                    </form>
                                                </li>


                                                @for(int i =1;i<=ViewBag.endPage;i++){
                                                    <li class="paginate_button page-item @(ViewBag.currentPage.Equals(i)?"active":"")">
                                                        <form asp-action="locationlist" method="post">
                                                             <input type="hidden" name="currentPage" value="@i">
                                                            <input type="hidden" name="quantity" value="@ViewBag.quantity">
                                                            <input type="hidden" name="name" value="@ViewBag.name">
                                                            <button type="submit" class="page-link">@i</button>
                                                        </form>
                                                    </li>
                                                }

                                                <li class="paginate_button page-item previous @(ViewBag.currentPage.Equals(ViewBag.endPage) ? "disabled" : "")" id="sampleTable_next">
                                                    <form asp-action="locationlist" method="post">
                                                        <input type="hidden" name="currentPage" value="@(int.Parse(ViewBag.currentPage.ToString()) + 1)">
                                                        <input type="hidden" name="quantity" value="@ViewBag.quantity">
                                                        <input type="hidden" name="name" value="@ViewBag.name">
                                                        <button type="submit" class="page-link">Tiến</button>
                                                    </form>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
             MODAL
            -->            
                @foreach(Location b in Model.LocationList) {
                    <form  asp-action="locationlist" method="POST">
                        <div class="modal fade" id=@("ModalUP"+b.LocationId) tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                         data-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group  col-md-12">
                                            <span class="thong-tin-thanh-toan">
                                                <h5>Chỉnh sửa thông tin địa điểm</h5>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="hidden" name="locationID" value=@b.LocationId />
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Tên phí xe</label>
                                            <input class="form-control" name="locationName" type="text" required value="@b.LocationName">
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label">Lệ phí trước bạ (%)</label>
                                            <input class="form-control" name="preRegFee" type="number" required value="@b.PreRegFee">
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label">Lệ phí đăng kí (VNĐ)</label>
                                            <input class="form-control" name="regFee" type="number" required value="@b.RegFee">
                                        </div>

                                    </div>
                                    <BR>
                                    <button class="btn btn-save" type="submit">Lưu lại</button>
                                    <!<!-- send input action to servlet to know what action need -->
                                    <input type="hidden" name="action" value="UpdateLocation"/>
                                    <a class="btn btn-cancel" data-dismiss="modal" href="#" onclick="confirmCancel(event);">Hủy bỏ</a>
                                    <BR>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                }
            <!--
            MODAL
            -->

            <form  asp-action="locationlist" method="POST">
                <div class="modal fade" id="ModalUPAddLocation" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                     data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group  col-md-12">
                                        <span class="thong-tin-thanh-toan">
                                            <h5>Thêm địa điểm</h5>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Tên địa điểm</label>
                                        <input class="form-control" name="locationName" type="text" required value="">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="control-label">Lệ phí trước bạ (%)</label>
                                        <input class="form-control" name="preRegFee" type="number" required value="">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="control-label">Lệ phí đăng kí (VNĐ)</label>
                                        <input class="form-control" name="regFee" type="number" required value="">
                                    </div>

                                </div>
                                <BR>
                                <button class="btn btn-save" type="submit">Lưu lại</button>
                                <!<!-- send input action to servlet to know what action need -->
                                <input type="hidden" name="action" value="AddLocation"/>
                                <a class="btn btn-cancel" data-dismiss="modal" href="#" onclick="confirmCancel(event);">Hủy bỏ</a>
                                <BR>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--
    MODAL
            -->
        </div>


        <script>
            function confirmCancel(event) {
                var confirmation = confirm("Bạn có chắc chắn muốn huỷ thay đổi hãng xe?");
                if (!confirmation) {
                    event.preventDefault(); // Ngăn chặn điều hướng đến đường dẫn URL
                }
            }
        </script>

        <script>
                // function submitForm() {
                //     document.getElementById("submitForm").submit();
                // }
                function submitFormDeleteLo() {
                    // var form2 = document.getElementById('deleteLo');

                    // // Create FormData object from form2
                    // var formData = new FormData(form2);

                    // // Create hidden input and append to formData
                    // formData.append("action", "delete");

                    // // Submit the combined form data using fetch API
                    // fetch(form2.action, {
                    //     method: form2.method,
                    //     body: formData
                    // });
                    document.getElementById("deleteLo").submit();
                }


                // async function submitForm() {
                //     // Get form elements
                //     var form1 = document.getElementById('submitForm');
                //     var form2 = document.getElementById('deleteLo');

                //     // Create FormData object from form1
                //     var formData = new FormData(form1);

                //     // Append form2 data to the formData object
                //     var form2Data = new FormData(form2);
                //     form2Data.forEach((value, key) => {
                //         formData.append(key, value);
                //     });

                //     // Submit the combined form data using fetch API
                //     await fetch(form1.action, {
                //         method: form1.method,
                //         body: formData
                //     });

                // }

                function submitForm() {
                    document.getElementById("submitForm").submit();
                }
                    
        </script>
        <script>
                function changeQuantity() {
                    document.getElementById("quantitySelect").submit();
                }
        //         function changeQuantity(selectElement) {
        //             var selectedValue = selectElement.value;
        //             // Create a form element
        //             var form = document.createElement('form');
        //             form.method = 'post';
        //             form.action = 'locationlist'; // Set the URL of your servlet

        //             // Create an input element for the quantity
        //             var quantityInput = document.createElement('input');
        //             quantityInput.type = 'hidden';
        //             quantityInput.name = 'quantity';
        //             quantityInput.value = selectedValue;
        //             // Create an input element for the name
        //             var nameInput = document.createElement('input');
        //             nameInput.type = 'hidden';
        //             nameInput.name = 'name'; // Set the name to 'name'
        //             nameInput.value = '${name}'; // Set the value to the desired name

        //             // Append all input elements to the form
        //             form.appendChild(quantityInput);
        //             form.appendChild(nameInput);

        //             // Append the form to the body
        //             document.body.appendChild(form);
        //             // Submit the form
        //             form.submit();
        //         }
        </script>
