﻿@page
@model Auto99.Pages.Staff.LoginModel
@using Auto99.Models
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login Page</title>

    <!-- Bootstrap core CSS -->
    <!--        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/Staff/css/Login.css">


</head>
<body>
    <section class="ftco-section">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                        <div class="text w-100">
                            <h2>Welcome to Login Page</h2>
                            <a href="/Staff/ChangePassword" class="btn btn-white btn-outline-white">Change Password</a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                        </div>
                        <form asp-action="/Staff/Login" class="signin-form" method="post">
                            <div class="form-group mb-3">
                                <label class="label" for="name">Email</label>
                                <input type="text" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" name="Password" class="form-control" placeholder="Password" required>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                            {
                                <div class="form-group mb-3">
                                    <h5 style="color: red; text-align: center;">Login failed. Please check email or password!</h5>
                                </div>
                            }
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">
                                        Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <a asp-page="/LoginClient">Đăng nhập khách hàng</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
</html>