﻿@page
@model Auto99.Pages.Staff.MyProfileModel
@using Auto99.Models
@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}

    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">MY PROFILE</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="tile">
                <div class="tile-body">
                    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                    <form id="FormChangeIMG" method="POST" enctype="multipart/form-data">
                        <!--  send input action to servlet to know what action need -->
                        <input type="hidden" name="ACTION" value="UpdateIMGEmployee" />
                        <input type="hidden" name="employeeID" value="@Model.empP.EmployeeId" />
                        <input type="hidden" name="Img" value="@Model.empP.Img" />

                        <fieldset class="form-group col-md-12 ">
                            <div class="row d-flex justify-content-around">
                                <legend>Ảnh Nhân viên</legend>
                                <div class=" form-group ">
                                    <div class="col-md-12">
@*                                         <p class="text-warning">${mess}</p>
 *@                                        <div id="thumbbox" class="align-items-center" style="height: 20rem;width: 20rem">
                                        <img alt="Lỗi" id="thumbimage" src="~/img/EmployeeIMG/@Model.empP.EmployeeId/@Model.empP.Img" onclick="document.getElementById('uploadfile').click();" />

                                            <a class="removeimg" href="javascript:"></a>
                                            <div id="myfileupload">
                                                <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <script>
                            // Tạo URL cho ảnh ban đầu bằng cách sử dụng dữ liệu từ employeeProfile
                        var imgSrc = "~/img/EmployeeIMG/" + @Model.empP.EmployeeId + "/" + @Model.empP.EmployeeId;
                            // Function để load ảnh ban đầu
                            function loadInitialImage() {
                                // Đặt thuộc tính src của phần tử hình ảnh để hiển thị ảnh ban đầu
                                $("#thumbimage").attr('src', imgSrc).show();
                            }

                            // Function để đọc đường dẫn URL của ảnh mới khi chọn ảnh mới
                            function readURL(input) {
                                // Kiểm tra xem đã chọn tệp hình ảnh chưa
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        // Đặt thuộc tính src của phần tử hình ảnh để hiển thị ảnh đã chọn dưới dạng URL dữ liệu
                                        $("#thumbimage").attr('src', e.target.result);
                                    };
                                    // Đọc tệp hình ảnh đã chọn dưới dạng URL dữ liệu
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }

                            // Gọi function để tải ảnh ban đầu khi trang được tải
                            $(document).ready(function () {
                                loadInitialImage();
                            });

                            var loadFile = function (event, id) {
                                var output = document.getElementById('subImg-' + id);
                                output.src = URL.createObjectURL(event.target.files[0]);
                                output.onload = function () {
                                    URL.revokeObjectURL(output.src) // free memory
                                }
                            };

                            function confirmCancel(event) {
                                 window.location.reload();
                            }

                            function changeSubImg() {
                                document.getElementById("FormChangeIMG").submit();
                            }


                            function submitForm() {
                                var currentImageSrc = document.getElementById("thumbimage").src;
                                if (currentImageSrc !== imgSrc) {
                                    // Image source has changed, submit the form
                                    document.getElementById("FormChangeIMG").submit();
                                } else {
                                    // Image source has not changed, perform any other action you need
                                    alert("You have not changed the image.");
                                }
                            }
                        </script>
                        <style>
                            .Choicefile {
                                display: block;
                                background: #14142B;
                                border: 1px solid #fff;
                                color: #fff;
                                width: 150px;
                                text-align: center;
                                text-decoration: none;
                                cursor: pointer;
                                padding: 5px 0px;
                                border-radius: 5px;
                                font-weight: 500;
                                align-items: center;
                                justify-content: center;
                            }

                            #uploadfile {
                                display: none;
                            }

                            #thumbbox {
                                position: relative;
                                /* Để chứa ảnh và nút xóa */
                                width: 200px;
                                /* Độ rộng của thẻ div cha (thay đổi theo kích thước mong muốn) */
                                height: auto;
                                /* Tự động tính chiều cao dựa trên tỷ lệ khung hình của ảnh */
                                overflow: hidden;
                                /* Để ẩn phần ngoài khung nếu ảnh lớn hơn */
                            }

                            #thumbimage {
                                border-radius: 50%;
                                width: 100%;
                                /* Ảnh tự động điền toàn bộ chiều rộng của div cha */
                                height: 100%;
                                /* Tự động tính chiều cao dựa trên tỷ lệ khung hình của ảnh */
                                display: block;
                                /* Loại bỏ khoảng trắng dư thừa ở dưới ảnh */
                            }

                            .removeimg {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                /* Các thuộc tính khác cho nút xóa */
                            }

                            label {
                                text-align: left;
                            }
                        </style>

                        <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name</label>
                            <input type="text" class="form-control" value="@Model.empP.FirstName" name="FirstName" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Surname</label>
                            <input type="text" class="form-control" value="@Model.empP.LastName" name="LastName" placeholder="Surname">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">Mã nhân viên</label>
                            <input type="text" class="form-control" value="@Model.empP.EmployeeId" name="EmployeeId" readonly="readonly" placeholder="Mã nhân viên">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">NoID</label>
                            <input type="text" class="form-control" value="@Model.empP.Idno" name="Idno" placeholder="NoID">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Địa chỉ</label>
                            <input type="text" class="form-control" value="@Model.empP.Address" name="Address" placeholder="Địa chỉ">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Ngày bắt đầu làm việc</label>
                            <input type="text" class="form-control" value="@Model.empP.StartDate.ToString("yyyy-MM-dd")" readonly="readonly" placeholder="Ngày bắt đầu làm việc">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Email</label>
                            <input type="text" class="form-control" value="@Model.empP.Email" readonly="readonly" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Ngày sinh</label>
                            <input type="date" class="form-control" value="@Model.empP.Dob.ToString("yyyy-MM-dd")" name="Dob" placeholder="Ngày sinh">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Số điện thoại</label>
                                <input type="number" class="form-control" value="@Model.empP.PhoneNumber" name="PhoneNumber" placeholder="Số điện thoại" pattern="0[0-9]{9,10}" title="Phone number must start with 0 and have 10 to 11 digits.">
                        </div>
                        <div class="col-md-6">
                                <label class="labels">Giới tính</label>
                            <select class="form-control" id="gender-select" name="Gender">
                                    <option value="True" selected=@(Model.empP.Gender)>Male</option>
                                    <option value="False" selected=@(!Model.empP.Gender)>Female</option>
                                </select>
                                <input type="hidden" name="Gender" class="form-control" id="gender-input" placeholder="" value="">
                            </div>
                        </div>
                        <!--                                <div class="row mt-3">
                                            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                                            <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                                        </div>
                                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>-->
                        <div style="padding-top: 2rem; padding: 40px;text-align: center; ">
                            <button class="btn btn-save" onclick="submitForm()">Lưu lại</button>
                        <a href="ChangePassword" class="btn btn-dark"> Đổi mật khẩu</a>
                        </div>
                    <div style="padding: 40px;text-align: center; ">

                        @if (ViewBag.msg != null)
                        {
                            <span class="text-success">@ViewBag.msg</span>

                        }
                    </div>



                    </form>
                </div>
            </div>
            <!--                            </div>            -->
        </div>

    </div>
</div>
<script>
    function sendSelectedServiceIDs() {
        // Create a hidden input element to add an attribute
        var hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = "action"; // Change to the desired attribute name
        hiddenInput.value = "deleteAllByServiceID"; // Change to the desired attribute value

        // Append the hidden input element to the form
        var form = document.getElementById('SendAllServiceIDChecked');
        form.appendChild(hiddenInput);
        // Submit the form
        form.submit();
    }
    // $(document).ready(function () {
    //     $('#gender-select').change(function () {
    //         var selectedValue = $(this).val();
    //         $('#gender-input').val(selectedValue);

    //         // var selectElement = document.getElementById("gender-select");
    //         // var selectedValue = selectElement.value;

    //         // // Update hidden input value
    //         // var statusInput = document.getElementById("gender-input");
    //         // statusInput.value = selectedValue

    //     });
    // });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
