﻿@page
@model Auto99.Pages.Staff.PolicyFeeListModel
@using Auto99.Models
@{
    ViewData["Title"] = "Policy Fee List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}

                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Danh sách phí</a></li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
                                <div class="row element-button">

                                    <div class="col">
                                        <a class="btn btn-add btn-sm" title="Thêm" id="show-emp" data-toggle="modal"
                                           data-target="#ModalUPAddFee"><i class="fas fa-plus"></i>
                                            Tạo mới phụ phí</a>
                                    </div>

@*                     <div class="col text-right">
                        <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="submitFormDeleteLo()">
                            <i class="fas fa-trash-alt"></i> Xóa tất cả
                        </a>
                    </div> *@
                                </div>

                <form id="filterForm" method="post">

                                <div class="row search-length">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="length-box" >
                            <input type="hidden" name="PageSize" id="quantityInput" value="@Model.PageSize" />

                                            <label>Hiện
                                <select name="length" id="quantitySelect" onchange="submitForm()" aria-controls="sampleTable" class="form-control form-control-sm">
                                    <option value="10" selected=@(Model.PageSize.Equals(10))>10</option>
                                    <option value="25" selected=@(Model.PageSize.Equals(25))>25</option>
                                    <option value="50" selected=@(Model.PageSize.Equals(50))>50</option>
                                    <option value="100" selected=@(Model.PageSize.Equals(100))>100</option>
                                                    </select> danh mục
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 text-lg-right">
                                                <div class="search-box">
                                                    <label>
                                    Tìm kiếm:<input type="search" value="@Model.Search" name="Search" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                                                </label>
                                                <button type="submit" class="btn btn-success" fdprocessedid="wjwv0s">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                    </svg>
                                                </button>                                            
                                            </div>

                                    </div>
                                </div>

                </form>

                                <table class="table table-hover table-bordered" id="sampleTable">
                                    <thead>
                                        <tr>
@*                                             <th width="10"><input type="checkbox" id="all"></th>
 *@                                            <th>Mã phí</th>
                                            <th>Tên phí</th>
                                            <th>Phí (VNĐ)</th>
                                    @if (Model.HttpContext.Session.GetString("Role") != null && Model.HttpContext.Session.GetString("Role").Equals("admin"))
                                        {                                                
                                                <th>Người tạo</th>
                                                <th>Ngày tạo</th>
                                                <th>Người đổi</th>
                                                <th>Ngày đổi</th>
                                            }
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(PolicyFee item in Model.policyFees){

                                            <tr>
@*                                                 <td width="10">
                                                    <input type="checkbox" name="checkedServiceID" value="${service.getServiceID()}">
                                                </td> *@
                                                <td>@item.FeeId</td>
                                                <td>@item.FeeName</td>
                                                <td>@item.Fee</td>
                                @if (Model.HttpContext.Session.GetString("Role") != null && Model.HttpContext.Session.GetString("Role").Equals("admin"))
                                {
                                    <td>@item.CreatedByNavigation?.AccName</td>
                                    <td>@item.CreatedOn</td>
                                    <td>@item.ModifiedByNavigation?.AccName</td>
                                    <td>@item.ModifiedOn</td>
                                }

                                            <td class="container d-flex justify-content-center align-items-center">
                                                <button class="btn btn-primary btn-sm edit mx-2" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                        data-target="@("#ModalUP" + item.FeeId)">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <form method="POST" class="d-inline">
                                                    <input type="hidden" name="action" value="Delete" />
                                                    <input type="hidden" name="feeID" value="@item.FeeId" />
                                                    <button class="btn btn-primary btn-sm edit mx-2" type="submit" title="Sửa" id="show-emp">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>

      
                                            </tr>
                                            }
                                    </tbody>
                                </table>

                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" role="status" >

@*                                             <c:choose>

                                                <c:when test = "${count>0}">
                                                    Hiện ${(index-1)*quantity+1} đến 
                                                    ${((index*(quantity+1))>count) ? count : index*quantity}
                                                    của ${count} danh mục
                                                </c:when>

                                                <c:otherwise>
                                                    Không có sản phẩm!
                                                </c:otherwise>
                                            </c:choose> *@

                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate">
                                            <ul class="pagination">
                                                @if (Model.PageNumber > 1)
                                                {
                                                    <li class="paginate_button page-item previous ">
                                                        <a class="page-link" href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@(Model.PageSize)">Previous</a>
                                                    </li>
                                                }

                                                @for (var i = 1; i <= Model.TotalPages; i++)
                                                {
                                                    <li class="paginate_button page-item @(i == Model.PageNumber ? "active" : "")">
                                                        <a class="page-link" href="?pageNumber=@i&pageSize=@(Model.PageSize)">@i</a>
                                                    </li>
                                                }

                                                @if (Model.PageNumber < Model.TotalPages)
                                                {
                                                    <li class="paginate_button page-item next">
                                                        <a class="page-link" href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@(Model.PageSize)">Next</a>
                                                    </li>
                                                }
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--
      MODAL
            -->            
             @foreach(PolicyFee item in Model.policyFees){
                 <form method="POST">
                <div class="modal fade" id="@("ModalUP" + item.FeeId)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                         data-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group  col-md-12">
                                            <span class="thong-tin-thanh-toan">
                                                <h5>Chỉnh sửa thông tin phụ phí</h5>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                            <input type="hidden" name="feeID" value="@item.FeeId" />
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Tên phí</label>
                                <input class="form-control" name="feeName" type="text" required value="@item.FeeName">
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label">Phí (VNĐ)</label>
                                <input class="form-control" name="fee" type="number" required value="@item.Fee">
                                        </div>

                                    </div>
                                    <BR>
                                    <button class="btn btn-save" type="submit">Lưu lại</button>
                                    <!<!-- send input action to servlet to know what action need -->
                                    <input type="hidden" name="action" value="UpdateFee"/>
                                    <a class="btn btn-cancel" data-dismiss="modal" href="#" onclick="confirmCancel(event);">Hủy bỏ</a>
                                    <BR>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
}
<!--
            MODAL
            -->

            <form method="POST">
                <div class="modal fade" id="ModalUPAddFee" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                     data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group  col-md-12">
                                        <span class="thong-tin-thanh-toan">
                                            <h5>Thêm phụ phí</h5>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Tên phí</label>
                                        <input class="form-control" name="feeName" type="text" required value="">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="control-label">Phí (VNĐ)</label>
                                        <input class="form-control" name="fee" type="number" required value="">
                                    </div>

                                </div>
                                <BR>
                                <button class="btn btn-save" type="submit">Lưu lại</button>
                                <!<!-- send input action to servlet to know what action need -->
                                <input type="hidden" name="action" value="AddFee"/>
                                <a class="btn btn-cancel" data-dismiss="modal" href="#" onclick="confirmCancel(event);">Hủy bỏ</a>
                                <BR>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--
    MODAL
            -->
        </div>


        <!-- Essential javascripts for application to work-->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="src/jquery.table2excel.js"></script>
        <script src="js/main.js"></script>
        <!-- The javascript plugin to display page loading on top-->
        <script src="js/plugins/pace.min.js"></script>
        <!-- Page specific javascripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <!-- Data table plugin-->
        <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>

        <script>
                                    function confirmCancel(event) {
                                        var confirmation = confirm("Bạn có chắc chắn muốn huỷ thay đổi hãng xe?");
                                        if (!confirmation) {
                                            event.preventDefault(); // Ngăn chặn điều hướng đến đường dẫn URL
                                        }
        </script>

        <script>
    function submitForm() {
        var selectElement3 = document.getElementById("quantitySelect");
        var selectedValue3 = selectElement3.value;

        // Update hidden input value
        var quantityInput = document.getElementById("quantityInput");
        quantityInput.value = selectedValue3;
        // Submit the form
        document.getElementById("filterForm").submit();
    }
        </script>

   