﻿@page
@model Auto99.Pages.Staff.VoucherListModel
@using Auto99.Models;
@{
    ViewData["Title"] = "Voucher List";
    Layout = "~/Pages/Shared/_LayoutStaffPage.cshtml";
}
<!--Flatpickr-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Danh sách voucher</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    @if (Model.HttpContext.Session.GetString("Role") != null && (Model.HttpContext.Session.GetString("Role").Equals("admin") || Model.HttpContext.Session.GetString("Role").Equals("marketing")))
                        {
                    <div class="col">
                        <a class="btn btn-add btn-sm" title="Thêm" id="show-emp" data-toggle="modal"
                           data-target="#ModalADD">
                            <i class="fas fa-plus"></i>
                            Tạo mới Voucher
                        </a>
                    </div>
                        }
                </div>

                <div class="row search-length">
                    <div class="col-sm-12 col-md-8">
                        <form asp-action="voucherlist" id="submitForm" method="post">
                            <div class="length-box" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                <label>
                                    Hiện
                                    <select name="quantity" aria-controls="sampletable" class="form-control form-control-sm" onchange="submitForm()">
                                        <option value="5" selected=@(ViewBag.quantity == 5)>5</option>
                                        <option value="10" selected=@(ViewBag.quantity == 10)>10</option>
                                        <option value="25" selected=@(ViewBag.quantity == 25)>25</option>
                                        <option value="50" selected=@(ViewBag.quantity == 50)>50</option>
                                    </select> danh mục
                                    <input type="hidden" name="name" value="@ViewBag.name">
                                </label>
                                <label>
                                    Đối tượng sử dụng
                                    <select name="obj" style="width: 150px" onchange="submitForm()" class="form-control form-control-sm">
                                        <option value="">Chọn</option>
                                        @foreach (ObjectVoucher c in Model.ListObj)
                                        {
                                            <option value="@(c.ObjectVoucherId)" selected="@(ViewBag.obj == c.ObjectVoucherId)">@c.ObjectVoucher1</option>
                                        }
                                    </select>
                                </label>
                                <label>
                                    Thể loại
                                    <select name="type" style="width: 150px" onchange="submitForm()" class="form-control form-control-sm">
                                        <option value="" selected="@(string.IsNullOrEmpty(ViewBag.type.ToString()) ? true : false)">Chọn</option>
                                        <option value="true" selected="@(ViewBag.type == "true" ? true : false)">Phần trăm</option>
                                        <option value="false" selected="@(ViewBag.type == "false" ? true : false)">Tiền mặt</option>
                                    </select>
                                </label>
                                <label>
                                    Trạng thái
                                    <select style="width: 150px" name="status" onchange="submitForm()" class="form-control form-control-sm">
                                        <option value="" selected="@(string.IsNullOrEmpty(ViewBag.status.ToString()) ? true : false)">Chọn</option>
                                        <option value="true" selected="@(ViewBag.status == "true" ? true : false)">Hoạt động</option>
                                        <option value="false" selected="@(ViewBag.status == "false" ? true : false)">Ngừng hoạt động</option>
                                    </select>

                                </label>
                                <label>
                                    Từ
                                    <input style="width: 120px;" onchange="submitForm()" class="form-control form-control-sm " data-input type="date" name="startDate" value="@ViewBag.startDate">
                                    đến
                                    <input style="width: 120px;" onchange="submitForm()" class="form-control form-control-sm " data-input type="date" name="endDate" value="@ViewBag.endDate">
                                </label>
                                <script>
                                    const flatpickrInputs = document.querySelectorAll(".flatpickr");


                                    flatpickrInputs.forEach((input) => {
                                        flatpickr(input, {
                                            enableTime: false,
                                            dateFormat: "Y-m-d"
                                        });
                                    });
                                </script>
                            </div>
                            <input type="hidden" name="name" value="@ViewBag.name" />
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <form asp-action="voucherlist" method="post">
                            <div class="search-box">
                                <label>
                                    Tìm kiếm:<input type="search" value="@ViewBag.name" name="name" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                                </label>
                                <input type="hidden" name="index" value="1" />
                                <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                <input type="hidden" name="obj" value="@ViewBag.obj" />
                                <input type="hidden" name="type" value="@ViewBag.discountType" />
                                <input type="hidden" name="status" value="@ViewBag.status" />
                                <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                <button type="submit" type="button" class="btn btn-success" fdprocessedid="wjwv0s">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <form asp-action="voucherlist" method="post">
                    
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th style="text-align: center">ID</th>
                                <th style="text-align: center">Mã voucher</th>
                                <th style="text-align: center">Mô tả voucher</th>
                                <th style="text-align: center">Đối tượng ạp dụng</th>
                                <th style="text-align: center">Giá trị</th>
                                <th style="text-align: center">Thể loại</th>
                                <th style="text-align: center">Ngày áp dụng</th>
                                <th style="text-align: center">Ngày kết thúc</th>
                                <th style="text-align: center">Trạng thái</th>
                                @if (Model.HttpContext.Session.GetString("Role") != null && (Model.HttpContext.Session.GetString("Role").Equals("admin") || Model.HttpContext.Session.GetString("Role").Equals("marketing")))
                        {
                                <th style="text-align: center">Chức Năng</th>
                        }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int ind = 1;
                            }
                            @foreach (Voucher i in Model.ListVou)
                            {
                                
                                    ObjectVoucher v = Model.ListObj.Where(x => x.ObjectVoucherId == i.ObjectVoucherId).FirstOrDefault();
                                
                                <tr>
                                    <td style="width: 20px; text-align: center">@(ind++)</td>
                                    <td style="width: 100px;">@i.VoucherCode</td>
                                    <td style="width: 300px;">@i.Description</td>
                                    <td style="width: 100px;">@v.ObjectVoucher1</td>

                                    <td style="width: 100px;">@i.DiscountValue</td>
                                    <td style="width: 100px;">@(i.DiscountType.Value ? "Phần trăm" : "Tiền mặt")</td>

                                    <td style="text-align: center">
                                        @i.StartDate.Value.ToString("dd/MM/yyyy")
                                    </td>
                                    <td style="text-align: center">
                                        @i.EndDate.Value.ToString("dd/MM/yyyy")
                                    </td>
                                    <td style="text-align: center;">
                                        <span class="badge @(i.Status.Value ? "bg-success" : "bg-danger")">
                                            @(i.Status.Value ? "Hoạt động" : "Ngừng hoạt động")
                                        </span>
                                    </td>
                                    @if (Model.HttpContext.Session.GetString("Role") != null && (Model.HttpContext.Session.GetString("Role").Equals("admin") || Model.HttpContext.Session.GetString("Role").Equals("marketing")))
                                    {
                                        <td style="text-align: center">
                                            <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                            data-target="@("#ModalUP" + @i.VoucherId)">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                        </td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>


                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" role="status">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate">
                                <ul class="pagination">

                                    <li class="paginate_button page-item previous @(ViewBag.index.Equals(1) ? "disabled" : "")" id="sampleTable_previous">
                                        <form asp-action="designlist" method="post">
                                            <input type="hidden" name="index" value="@(int.Parse(ViewBag.index.ToString()) - 1)">
                                            <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                            <input type="hidden" name="name" value="@ViewBag.name" />
                                            <input type="hidden" name="obj" value="@ViewBag.obj" />
                                            <input type="hidden" name="type" value="@ViewBag.discountType" />
                                            <input type="hidden" name="status" value="@ViewBag.status" />
                                            <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                            <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                            <button type="submit" class="page-link">Lùi</button>
                                        </form>
                                    </li>


                                    @for (int inj = 1; inj <= ViewBag.endPage; inj++)
                                    {
                                        <li class="paginate_button page-item @(ViewBag.index == inj?"active":"")">
                                            <form asp-action="designlist" method="post">
                                                <input type="hidden" name="index" value="@inj">
                                                <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                                <input type="hidden" name="obj" value="@ViewBag.obj" />
                                                <input type="hidden" name="name" value="@ViewBag.name" />
                                                <input type="hidden" name="type" value="@ViewBag.discountType" />
                                                <input type="hidden" name="status" value="@ViewBag.status" />
                                                <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                                <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                                <button type="submit" class="page-link">@inj</button>
                                            </form>
                                        </li>
                                    }

                                    <li class="paginate_button page-item previous @(ViewBag.index.Equals(ViewBag.endPage) ? "disabled" : "")" id="sampleTable_next">
                                        <form asp-action="designlist" method="post">
                                            <input type="hidden" name="index" value="@(int.Parse(ViewBag.index.ToString()) + 1)">
                                            <input type="hidden" name="quantity" value="@ViewBag.quantity" />
                                            <input type="hidden" name="obj" value="@ViewBag.obj" />
                                            <input type="hidden" name="name" value="@ViewBag.name" />
                                            <input type="hidden" name="type" value="@ViewBag.discountType" />
                                            <input type="hidden" name="status" value="@ViewBag.status" />
                                            <input type="hidden" name="startDate" value="@ViewBag.startDate" />
                                            <input type="hidden" name="endDate" value="@ViewBag.endDate" />
                                            <button type="submit" class="page-link">Tiến</button>
                                        </form>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
            </div>

<!--
MODAL
      -->

@foreach (Voucher i in Model.ListVou)
{
    <form asp-action="voucherlist" method="POST">
        <div class="modal fade" id="@("ModalUP"+i.VoucherId)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
        data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group  col-md-12">
                                <span class="thong-tin-thanh-toan">
                                    <h5>Chỉnh sửa thông tin blog cơ bản</h5>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" name="voucherID" value="@(i.VoucherId)" />

                            <div class="form-group col-md-6">
                                <label class="control-label">Mã voucher</label>
                                <input class="form-control" type="text" required value="@(i.VoucherCode)" readonly style="cursor: not-allowed">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="exampleSelect1" class="control-label">Trạng thái</label>
                                <select class="form-control" name="statusSelect">
                                    <option value="true" selected="@(i.Status)">Hoạt động</option>
                                    <option value="false" selected="@(!i.Status)">Ngưng hoạt động</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="control-label">Số lượng phát hành</label>
                                <input class="form-control" type="text" required value="@(i.MaxUsage)" readonly style="cursor: not-allowed">
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="control-label">Số lượng đã sử dụng</label>
                                <input class="form-control" type="text" required value="@(i.UsedCount)" readonly style="cursor: not-allowed">
                            </div>
                        </div>

                        <BR>
                        <button class="btn btn-save" type="submit">Lưu lại</button>
                        <!<!-- send input action to servlet to know what action need -->
                        <input type="hidden" name="user" value="${sessionScope.acc.accID}">
                        <input type="hidden" name="action" value="UpdateVoucher" />
                        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                        <BR>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </form>
}

<!--
MODAL
-->
<!--
MODAL
-->

<form asp-action="voucherlist" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="ModalADD" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Thêm voucher</h5>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">Mã voucher</label>
                            <input class="form-control" name="vouchercode" type="text" required value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label">Mô tả voucher</label>
                            <input class="form-control" name="description" type="text" required value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Đối tượng áp dụng</label>
                            <select name="objSelect" style="width: 150px" onchange="changeObjectVoucher(this)" class="form-control form-control-sm">
                                @foreach (ObjectVoucher c in Model.ListObj)
                                {
                                    <option value="@(c.ObjectVoucherId)">@c.ObjectVoucher1</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Thể loại</label>
                            <select id="typeSelect" name="discountType" class="form-control">
                                <option value="true">Phần trăm</option>
                                <option value="false">Tiền mặt</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Giá trị của voucher</label>
                            <input class="form-control" type="number" name="discountValue" min="1" max="100" required>
                        </div>
                        <script>
                            const discountValueInput = document.querySelector('input[name="discountValue"]');
                            const discountTypeSelect = document.getElementById('quantitySelect');

                            discountTypeSelect.addEventListener('change', function () {
                                if (discountTypeSelect.value === 'true') { // Nếu là Phần trăm
                                    discountValueInput.setAttribute('min', '1');
                                    discountValueInput.setAttribute('max', '100');
                                } else { // Nếu là Tiền mặt
                                    discountValueInput.removeAttribute('min');
                                    discountValueInput.removeAttribute('max');
                                }
                            });
                        </script>

                        <div class="form-group col-md-6">
                            <label class="control-label">Số lượng</label>
                            <input class="form-control" type="text" name="maxUsage" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label> Ngày áp dụng </label>
                            <input class="form-control flatpickr" data-input type="date" name="startDateCreate" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label> Ngày kết thúc </label>
                            <input class="form-control flatpickr" data-input type="date" name="endDateCreate" required>
                        </div>
                        
                    </div>
                    <BR>
                    <input type="hidden" name="action" value="AddVoucher" />
                    <button class="btn btn-save" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</form>
<!--
MODAL
        -->
<script>
    function submitForm() {
        document.getElementById("submitForm").submit();
    }

</script>