﻿@page
@model Auto99.Pages.BlogDetailModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Trang thông tin chính thức của Auto99</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/BlogDetail.css" />
    <link rel="stylesheet" href="~/assets/css/Header.css" />
    <link rel="stylesheet" href="~/assets/css/Footer.css" />
</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="page-heading about-heading header-text">
        <!-- Your content here if needed -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <input type="hidden" name="BlogID" value="@Model.BlogID" required />
                @Html.Raw(Model.Blog.Content) <!-- Display raw HTML content -->
                @if (Model.BlogID != 6 && Model.BlogID != 7)
                {
                    <div class="createdOn_blog">
                        <p><i class="fa-regular fa-clock"></i> @Model.Blog.CreatedOn</p>
                    </div>
                    <div class="more">
                        <p><i class="fa-solid fa-grip-lines-vertical"></i> TIN TỨC KHÁC </p>
                    </div>
                    @foreach (var ad in Model.ListAds)
                    {
                        <div class="adlist">
                            <a asp-page="./BlogDetail" asp-route-id="@ad.BlogId"><i class="fas fa-chevron-right"></i> @ad.Title.ToUpper()</a>
                        </div>
                    }
                }
            </div>

            <div class="col-lg-1">
                <!-- Spacer column, adjust as needed -->
            </div>

            <div class="col-lg-3">
                @foreach (var subCategory in Model.ListTTaKM)
                {
                    <div class="blog-item">
                        <a class="dir" asp-page="./BlogDetail" asp-route-id="@subCategory.BlogId">@subCategory.Title</a>

                        @foreach (var ad in Model.AdList)
                        {
                            @if (ad.ParentId == subCategory.ParentId)
                            {
                                <div class="detail">
                                    <a asp-page="./BlogDetail" asp-route-id="@ad.BlogId">
                                        <h3>@ad.Title</h3>
                                        <div class="createdOn">
                                            <p>@ad.CreatedOn</p>
                                        </div>
                                        <hr />
                                        <div class="box-image">
                                            <img class="img-service" src="~/img/Blog/@ad.BlogImg" alt="lỗi" />
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>

    <!-- Lazy Loading -->
    <script src="~/assets/js/lazy.js"></script>

    <script src="~/tinymce/tinymce.min.js"></script>
    <script src="~/assets/Staff/js/TinyMCE.js"></script>

</body>
</html>

