﻿@page
@model Auto99.Pages.BlogHomeListModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/HomeList.css" />
    <link rel="stylesheet" href="~/assets/css/Header.css" />
    <link rel="stylesheet" href="~/assets/css/Footer.css" />
</head>
<body>

    <!-- Page Heading -->
    <div class="page-heading about-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <input type="hidden" name="blogID" value="@Model.Blog?.BlogId" required />
                        <h2>Tin tức và khuyến mãi</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- List Blog -->
    <div class="home-content" style="margin-top: 100px">
        <div class="container">
            <div class="row">
                @if (Model.Blog != null)
                {
                    @foreach (var subCategory in Model.ListBlogSP)
                    {
                        <a asp-page="./BlogDetail" asp-route-id="@subCategory.BlogId">
                            <div class="col-xl-4 col-md-6 service-item">
                                <div class="box-image">
                                    <img class="img-service" src="img/1px.png" lazy-src="img/Blog/@subCategory.BlogImg" alt="@subCategory.Title">
                                </div>
                                <div class="down-content">
                                    <h2>@subCategory.Title</h2>
                                    <p class="description">@subCategory.Description</p>
                                    <div style="display:flex; justify-content: space-between; text-align: center; align-content: center">
                                        <div class="createdOn">
                                            @subCategory.CreatedOn
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    @foreach (var category in Model.ListTTaKM)
                    {
                        if (Model.AllBlogs != null)
                        {
                            foreach (var subCategory in Model.AllBlogs)
                            {
                                <a asp-page="./BlogDetail" asp-route-id="@subCategory.BlogId">
                                <div class="col-xl-4 col-md-6 service-item">
                                    <div class="box-image">
                                        <img class="img-service" src="img/1px.png" lazy-src="img/Blog/@subCategory.BlogImg" alt="@subCategory.Title">
                                    </div>
                                    <div class="down-content">
                                        <h2>@subCategory.Title</h2>
                                        <p class="description">@subCategory.Description</p>
                                        <div style="display:flex; justify-content: space-between; text-align: center; align-content: center">
                                            <div class="createdOn">
                                                @subCategory.CreatedOn
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                </a>
                            }
                        }
                    }
                }
            </div>
        </div>

        <!-- Pagination -->
        <div id="mainlink">
            @if (Model.EndPage <= 7)
            {
                for (int i = 1; i <= Model.EndPage; i++)
                {
                    string link = $"bloghomelist?index={i}";
                    if (Model.Blog != null)
                    {
                        link += $"&blogID={Model.Blog.BlogId}";
                    }
                    <a class="@(Model.CurrentIndex == i ? "active" : "")" href="@link">@i</a>
                }
            }
            else
            {
                if (Model.CurrentIndex <= 4)
                {
                    for (int i = 1; i <= 7; i++)
                    {
                        string link = $"bloghomelist?index={i}";
                        if (Model.Blog != null)
                        {
                            link += $"&blogID={Model.Blog.BlogId}";
                        }
                        <a class="@(Model.CurrentIndex == i ? "active" : "")" href="@link">@i</a>
                    }
                    <a href="bloghomelist?blogID=@Model.Blog?.BlogId&index=@Model.EndPage">»</a>
                }
                else if (Model.CurrentIndex >= Model.EndPage - 3)
                {
                    <a href="bloghomelist?blogID=@Model.Blog?.BlogId&index=1">«</a>
                    for (int i = Model.EndPage - 6; i <= Model.EndPage; i++)
                    {
                        string link = $"bloghomelist?index={i}";
                        if (Model.Blog != null)
                        {
                            link += $"&blogID={Model.Blog.BlogId}";
                        }
                        <a class="@(Model.CurrentIndex == i ? "active" : "")" href="@link">@i</a>
                    }
                }
                else
                {
                    <a href="bloghomelist?blogID=@Model.Blog?.BlogId&index=1">«</a>
                    for (int i = Model.CurrentIndex - 3; i <= Model.CurrentIndex + 3; i++)
                    {
                        string link = $"bloghomelist?index={i}";
                        if (Model.Blog != null)
                        {
                            link += $"&blogID={Model.Blog.BlogId}";
                        }
                        <a class="@(Model.CurrentIndex == i ? "active" : "")" href="@link">@i</a>
                    }
                    <a href="bloghomelist?blogID=@Model.Blog?.BlogId&index=@Model.EndPage">»</a>
                }
            }
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/lazy.js"></script>

</body>
</html>
