﻿@page
@model Auto99.Pages.CarDetailModel
@{
    ViewData["Title"] = "Trang thông tin chính thức của Auto99";
    var c = Model.Car;
    var eac = Model.EngineAndChassis;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>@ViewData["Title"]</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/Header.css">
    <link rel="stylesheet" href="~/assets/css/Footer.css">
    <link rel="stylesheet" href="~/assets/css/ProductDetail.css">
</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader End -->
    <div class="page-heading about-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Sản phẩm</h2>
                        <div style="display:flex; justify-content: center; align-items: center; text-align: center;">
                            <h4><a href="/Home">Trang chủ </a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="conbox">
            <div class="ptop row justify-content-center">
                <div class="pleft col-md-5">
                    @foreach (var carImages in Model.AllCarSubImages)
                    {
                        if (carImages.CarId == c.CarId)
                        {
                            <div class="thumb"><img alt="@c.CarName" src="~/img/Xe/@c.CarId/@carImages.CarSubImg1"></div>
                        }
                    }
                </div>
                <div class="pright col-md-5">
                    <h1>@c.CarName</h1>
                    <div class="tool">
                        <a class="a1" asp-page="./CostEstimate" asp-route-id="@c.CarId" target="_blank">Dự toán</a>
                        <span></span>
                        @if(c.StatusId == 1){
                            <a class="a2" asp-page="./CarDeposit" asp-route-id="@c.CarId">Đặt cọc</a>
                        }
                        @if(c.StatusId == 2)
                        {
                            <div class="a2">Hết hàng</div>
                        }

                    </div>
                    <div class="tech">
                        <ul>
                            <li>
                                <p>Số chỗ</p>
                                <div>@Model.GeneralInfoCars.NumberOfSeat chỗ</div>
                            </li>
                            <li>
                                <p>Kiểu dáng</p>
                                @foreach (var b in Model.ListCD)
                                {
                                    if (b.DesignId == Model.GeneralInfoCars.DesignId)
                                    {
                                        <div>@b.Design</div>
                                    }
                                }
                            </li>
                            <li>
                                <p>Nhiên liệu</p>
                                <div>@Model.GeneralInfoCars.Fuel</div>
                            </li>
                        </ul>
                    </div>
                    <div class="pri">
                        <ul>
                            <li>
                                <p>Xuất xứ</p>
                                <div>@Model.GeneralInfoCars.MadeIn</div>
                            </li>
                            <li>
                                <p>Giá từ</p>
                                <div>@string.Format("{0:N0}", c.Price) <span>VNĐ</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="col-md-12">
        <div class="conbox justify-content-center">
            <div class="pkt">
                <h1>Thông số kỹ thuật @c.CarName</h1>
                <div class="note">Lưu ý: Công ty Ô tô Toyota Việt Nam được quyền thay đổi bất kỳ đặc tính nào mà không báo trước. Một số đặc tính kỹ thuật có thể khác so với thực tế.</div>
                <ul>
                    <li id="m">
                        <div class="head">
                            <h2>Thông tin chung</h2>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="ibox" style="padding:25px 0;">
                            <div class="sgroup">
                                <div class="sibox">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>Số chỗ</td>
                                                <td>@Model.GeneralInfoCars.NumberOfSeat</td>
                                            </tr>
                                            <tr>
                                                <td>Kiểu dáng</td>
                                                @foreach (var b in Model.ListCD)
                                                {
                                                    if (b.DesignId == Model.GeneralInfoCars.DesignId)
                                                    {
                                                        <td>@b.Design</td>
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <td>Xuất xứ</td>
                                                <td>@Model.GeneralInfoCars.MadeIn</td>
                                            </tr>
                                            <tr>
                                                <td>Nhiên liệu</td>
                                                <td>@Model.GeneralInfoCars.Fuel</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m66">
                        <div class="head">
                            <h2>Động cơ</h2>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="ibox">
                            <div class="sgroup" id="s75">
                                <div class="shead">
                                    <h3>Động cơ thường</h3>
                                </div>
                                <div class="sibox">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>Dung tích bình nhiên liệu (L)</td>
                                                <td>@eac.FuelTankCapacity</td>
                                            </tr>
                                            <tr>
                                                <td>Loại động cơ</td>
                                                <td>@eac.EngineType</td>
                                            </tr>
                                            <tr>
                                                <td>Số xy lanh</td>
                                                <td>@eac.NumberOfCylinder</td>
                                            </tr>
                                            <tr>
                                                <td>Dung tích xy lanh (cc)</td>
                                                <td>@eac.CylinderCapacity</td>
                                            </tr>
                                            <tr>
                                                <td>Hệ thống van biến thiên</td>
                                                <td>@eac.VariableValveSystem</td>
                                            </tr>
                                            <tr>
                                                <td>Hệ thống nhiên liệu</td>
                                                <td>@eac.FuelSystem</td>
                                            </tr>
                                            <tr>
                                                <td>Loại nhiên liệu</td>
                                                <td>@Model.GeneralInfoCars.Fuel</td>
                                            </tr>
                                            <tr>
                                                <td>Công suất tối đa ((KW) HP/vòng/phút)</td>
                                                <td>@eac.MaximumCapacity</td>
                                            </tr>
                                            <tr>
                                                <td>Mô men xoắn tối đa (Nm/vòng/phút)</td>
                                                <td>@eac.MaximumTorque</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="sgroup" id="s79">
                                <div class="shead">
                                    <h3>Hộp số</h3>
                                </div>
                                <div class="sibox">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>Hộp số</td>
                                                <td>@eac.Gear</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="conbox">
            <div class="description">
                @Html.Raw(c.Status)
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>

    <!-- Lazy Loading -->
    <script src="~/assets/js/lazy.js"></script>

    <script>
        // Get all elements with class "head"
        var heads = document.querySelectorAll(".head");

        // Loop through each "head" element and add a click event listener
        heads.forEach(function (head) {
            head.addEventListener("click", function () {
                // Toggle the class "active" to expand/collapse the content
                head.classList.toggle("active");
                var ibox = head.parentElement.querySelector(".ibox");
                ibox.style.display = (ibox.style.display === "block") ? "none" : "block";
            });
        });
    </script>
</body>
</html>
