﻿@page
@model Auto99.Pages.CarDepositModel
@{
    var c = Model.Car;
}

<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>@ViewData["Title"]</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/Header.css">
    <link rel="stylesheet" href="~/assets/css/Footer.css">
    <link rel="stylesheet" href="~/assets/css/ProductDetail.css">


</head>

<body>
    <div class="page-heading about-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Sản phẩm</h2>
                        <div style="display:flex; justify-content: center; align-items: center; text-align: center;">
                            <h4><a href="/Home">Trang chủ </a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="conbox">
            <div class="ptop row justify-content-center">
                <div class="pleft col-md-5">
                    <div class="thumb">
                        <img src="~/img/Xe/@Model.Car.CarId/@Model.SubImg.CarSubImg1">
                    </div>
                </div>
                <div class="pright col-md-5">
                    <div class="content" id="content1">
                        <form id="depositForm" method="post">
                            <input type="hidden" name="carID" value="@Model.Car.CarId" id="carID">
                            <input type="hidden" name="userId" value="@Model.client.ClientId" id="carID">
                            <input type="hidden" name="Price" value="@Model.Price">
                            <div class="price" id="finalPrice">
                                <div class="info">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Xác nhận thông tin</span>
                                    </h4>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Thông tin xe</span>
                                    </div>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">@Model.Car.CarName</h6>
                                            </div>
                                            <strong class="text-muted">@Model.Price.ToString("N0")VNĐ</strong>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Số tiền đặt cọc</span>
                                            <strong>
                                                @{
                                                    double valueD = 20000000;
                                                }
                                                @(valueD.ToString("N0"))<span>VNĐ</span>
                                            </strong>
                                        </li>
                                    </ul>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="voucher" id="voucher" value="@ViewBag.voucher" placeholder="Mã khuyến mãi">
                                        <div class="input-group-append">
                                            <button type="submit" value="searchVoucher" name="searchVoucher" class="btn btn-secondary">Xác nhận</button>
                                        </div>
                                    </div>
                                    <div id="voucherMessage" style="color: red">@ViewBag.voucherMessage</div>
                                    <hr class="mb-4">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Thông tin khách hàng</span>
                                    </div>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Email</h6>
                                            </div>
                                            <span class="text-muted">@Model.client.Email</span>
                                        </li>
                                    </ul>

                                    
                                    @* <div class="voucher row">
                                        <div class="col-lg-10">
                                            <input width="100%" class="vc" name="voucher" id="voucher" type="text" required maxlength="10" placeholder="Nhập mã voucher (nếu có)" value="">
                                            <div id="voucherMessage" style="color: red">@ViewBag.voucherMessage</div>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" value="searchVoucher" name="searchVoucher" id="checkvoucher" class="vouchersearch">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </div>
                                    </div> *@
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" value="submitOrder" name="submitOrder" type="submit">
                                Đặt hàng
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    


    <script>
        function checkVoucherStatus() {
            var searchInput = document.getElementById('voucher').value;
            var voucherMessage = document.getElementById("voucherMessage");
            document.getElementById("voucherMessage").innerHTML = searchInput;
            console.log(searchInput);
            // Dữ liệu voucher mẫu
            var vouchers = [
                { VoucherCode: 'ABC123', ExpiryDate: '2023-12-31', DiscountAmount: 10 },
                { VoucherCode: 'XYZ789', ExpiryDate: '2024-12-31', DiscountAmount: 15 }
            ];

            // Tìm kiếm voucher
            var foundVoucher = vouchers.find(v => v.VoucherCode.toLowerCase() === searchInput);

            if (foundVoucher) {
                var currentDate = new Date().toISOString().split('T')[0]; // YYYY-MM-DD
                if (foundVoucher.ExpiryDate >= currentDate) {
                    voucherMessage.innerHTML = "Voucher hợp lệ. Chi tiết voucher: " + foundVoucher.VoucherCode;
                } else {
                    voucherMessage.innerHTML = "Voucher đã hết hạn.";
                }
            } else {
                voucherMessage.innerHTML = "Voucher không tồn tại hoặc đã hết hạn.";
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
