﻿@page
@model Auto99.Pages.CarListModel
@using System.Globalization

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Trang thông tin chính thức của Auto99</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/Header.css">
    <link rel="stylesheet" href="~/assets/css/Footer.css">
    <link rel="stylesheet" href="~/assets/css/ProductList.css">
</head>

<body>
    <div class="page-heading about-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Sản phẩm</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="bgf5" style="padding-top: 0rem">
        <div class="search-filter-content nc-search-filter">
            <div class="wa-title">
                <h2 class="wa-title-text">Bộ lọc tìm kiếm</h2>
            </div>
            <div>
                <span class="sc-item-title">Tìm kiếm :</span>
                <input class="col-md-8" oninput="filter()" id="search-box" type="text" placeholder="Tìm kiếm">
            </div>
            <ul class="sfc-list" style="height: auto;">
                <li>
                    <div class="sc-item-content">
                        <span class="sc-item-title">Thương hiệu :</span>
                        <ul class="sc-item-option-list">
                            <li class="sc-item-option sc-item-option-selected" data-brand=""><a href="#"> All </a></li>
                            @foreach (var brand in Model.BrandList)
                            {
                                <li class="sc-item-option" data-brand="@brand.BrandName"><a href="#"> @brand.BrandName </a></li>
                            }
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="sc-item-content">
                        <span class="sc-item-title">Thiết kế :</span>
                        <ul class="sc-item-option-list">
                            <li class="sc-item-option sc-item-option-selected" data-design=""><a href="#"> All </a></li>
                            @foreach (var design in Model.DesignList)
                            {
                                <li class="sc-item-option" data-design="@design.Design"><a href="#"> @design.Design </a></li>
                            }
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="sc-item-content">
                        <span class="sc-item-title">Loại năng lượng :</span>
                        <ul class="sc-item-option-list">
                            <li class="sc-item-option sc-item-option-selected" data-fuel=""><a href="#"> All </a></li>
                            @foreach (var fuelOption in Model.GeneralInfoCarsList.Select(c => c.Fuel).Distinct())
                            {
                                <li class="sc-item-option" data-fuel="@fuelOption"><a href="#"> @fuelOption </a></li>
                            }
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="sc-item-content">
                        <span class="sc-item-title">Hộp số :</span>
                        <ul class="sc-item-option-list">
                            <li class="sc-item-option sc-item-option-selected" data-gear=""><a href="#"> All </a></li>
                            @foreach (var gearOption in Model.EngineAndChassisList.Select(c => c.Gear).Distinct())
                            {
                                <li class="sc-item-option" data-gear="@gearOption"><a href="#"> @gearOption </a></li>
                            }
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="sc-item-content">
                        <span class="sc-item-title">Số ghế :</span>
                        <ul class="sc-item-option-list">
                            <li class="sc-item-option sc-item-option-selected" data-seats=""><a href="#"> All </a></li>
                            @foreach (var seatOption in Model.GeneralInfoCarsList.Select(c => c.NumberOfSeat).Distinct())
                            {
                                <li class="sc-item-option" data-seats="@seatOption"><a href="#"> @seatOption </a></li>
                            }
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="sc-item-content">
                        <span class="sc-item-title">Giá tiền :</span>
                        <ul class="sc-item-option-list">
                            <li class="sc-item-option sc-item-option-selected" data-min="0" data-max=""><a href="#"> All </a></li>
                            <li class="sc-item-option" data-min="0" data-max="300000000"><a href="#"> Dưới 300 tr </a></li>
                            <li class="sc-item-option" data-min="300000000" data-max="500000000"><a href="#"> 300 - 500 tr </a></li>
                            <li class="sc-item-option" data-min="500000000" data-max="700000000"><a href="#"> 500 - 700 tr </a></li>
                            <li class="sc-item-option" data-min="700000000" data-max="1000000000"><a href="#"> 700 tr - 1 tỷ </a></li>
                            <li class="sc-item-option" data-min="1000000000" data-max="2000000000"><a href="#"> 1 tỷ - 2 tỷ </a></li>
                            <li class="sc-item-option" data-min="2000000000" data-max="4000000000"><a href="#"> 2 tỷ - 4 tỷ </a></li>
                            <li class="sc-item-option" data-min="4000000000" data-max="6000000000"><a href="#"> 4 tỷ - 6 tỷ </a></li>
                            <li class="sc-item-option" data-min="6000000000" data-max="10000000000"><a href="#"> 6 tỷ - 10 tỷ </a></li>
                            <li class="sc-item-option" data-min="10000000000" data-max=""><a href="#"> Trên 10 tỷ </a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>


        <div class="conbox">
            <div class="pro">
                <ul class="row" id="productList">
                    @foreach (var car in Model.CarList)
                    {
                        @if(car.StatusId == 1)
                        {
                            @foreach (var a in Model.GeneralInfoCarsList)
                            {
                                if (a.CarId == car.CarId)
                                {
                                    @foreach (var b in Model.EngineAndChassisList)
                                    {
                                        if (b.CarId == car.CarId)
                                        {
                                            <li>
                                                <div class="box-image">
                                                    <a asp-page="./CarDetail" asp-route-id="@car.CarId">
                                                        @foreach (var carImages in Model.AllCarImages)
                                                        {
                                                            if (carImages.CarId == car.CarId)
                                                            {
                                                                <img class="image-car image-index" alt="@car.CarName" src="~/img/Xe/@car.CarId/@carImages.CarImg1">
                                                            }
                                                        }
                                                        @foreach (var carSubImages in Model.AllCarSubImages)
                                                        {
                                                            if (carSubImages.CarId == car.CarId)
                                                            {
                                                                <img class="image-car image-hover" alt="@car.CarName" src="~/img/Xe/@car.CarId/@carSubImages.CarSubImg1">
                                                            }
                                                        }
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <a asp-page="./CarDetail" asp-route-id="@car.CarId">
                                                        <h2>@car.CarName</h2>
                                                        <div class="pri">
                                                            Giá từ:
                                                            <div>
                                                                @string.Format(new CultureInfo("vi-VN"), "{0:N0}", car.Price) VNĐ
                                                            </div>
                                                        </div>
                                                        <div class="tech">
                                                            <span data-type="brand">@car.Brand.BrandName</span>
                                                            <span data-type="seats">@a.NumberOfSeat</span>
                                                            @foreach (var c in Model.DesignList)
                                                            {
                                                                if (a.DesignId == c.DesignId)
                                                                {
                                                                    <span data-type="design">@c.Design</span>
                                                                }
                                                            }
                                                            <span data-type="fuel">@a.Fuel</span>
                                                            <span data-type="madein">@a.MadeIn</span>
                                                            <span data-type="gear">@b.Gear</span>
                                                            <span data-type="engine">@b.EngineType</span>
                                                            <span data-type="cylinder">Dung tích: @b.CylinderCapacity cc</span>
                                                        </div>
                                                    </a>
                                                    <div class="tool">
                                                        <a class="a1" asp-page="./CostEstimate" asp-route-id="@car.CarId">Dự toán</a>
                                                        <a class="a2" asp-page="./CarDeposit" asp-route-id="@car.CarId">Đặt cọc xe</a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                            }
                        }                                                    
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        function filter() {
            // Get search input
            var searchInput = document.getElementById('search-box').value.toLowerCase();

            // Get selected filter options
            var selectedPriceMin = parseInt(document.querySelector('.sc-item-option[data-min][data-selected="true"]')?.dataset.min, 10) || 0;
            var selectedPriceMax = document.querySelector('.sc-item-option[data-max][data-selected="true"]')?.dataset.max ? parseInt(document.querySelector('.sc-item-option[data-max][data-selected="true"]')?.dataset.max, 10) : Number.MAX_SAFE_INTEGER;
            var selectedBrand = document.querySelector('.sc-item-option[data-brand][data-selected="true"]')?.dataset.brand || '';
            var selectedDesign = document.querySelector('.sc-item-option[data-design][data-selected="true"]')?.dataset.design || '';
            var selectedSeats = document.querySelector('.sc-item-option[data-seats][data-selected="true"]')?.dataset.seats || '';
            var selectedFuel = document.querySelector('.sc-item-option[data-fuel][data-selected="true"]')?.dataset.fuel || '';
            var selectedGear = document.querySelector('.sc-item-option[data-gear][data-selected="true"]')?.dataset.gear || '';

            // Get all car list items
            var cars = document.querySelectorAll('#productList li');

            // Loop through each car and apply the filter
            cars.forEach(function (car) {
                var carName = car.querySelector('.info h2').innerText.toLowerCase();
                var carPrice = parseInt(car.querySelector('.info .pri div').innerText.replace(/\D/g, ''), 10);
                var carBrand = car.querySelector('.info span[data-type="brand"]').innerText;
                var carDesign = car.querySelector('.info span[data-type="design"]').innerText;
                var carSeats = car.querySelector('.info span[data-type="seats"]').innerText;
                var carFuel = car.querySelector('.info span[data-type="fuel"]').innerText;
                var carGear = car.querySelector('.info span[data-type="gear"]').innerText;

                // Check if the car matches the filters
                var matchesSearch = carName.includes(searchInput);
                var matchesPrice = (carPrice >= selectedPriceMin && carPrice <= selectedPriceMax);
                var matchesBrand = (selectedBrand === '' || carBrand === selectedBrand);
                var matchesDesign = (selectedDesign === '' || carDesign === selectedDesign);
                var matchesSeats = (selectedSeats === '' || carSeats === selectedSeats);
                var matchesFuel = (selectedFuel === '' || carFuel === selectedFuel);
                var matchesGear = (selectedGear === '' || carGear === selectedGear);

                if (matchesSearch && matchesPrice && matchesBrand && matchesDesign && matchesSeats && matchesFuel && matchesGear) {
                    car.style.display = '';
                } else {
                    car.style.display = 'none';
                }
            });
        }

        // Add event listeners to filter options
        document.querySelectorAll('.sc-item-option a').forEach(function (option) {
            option.addEventListener('click', function (event) {
                event.preventDefault();
                var parentLi = option.closest('li');
                var ul = parentLi.closest('ul');

                // Remove selected class from all options in the same group
                ul.querySelectorAll('li').forEach(function (item) {
                    item.classList.remove('sc-item-option-selected');
                    item.removeAttribute('data-selected');
                });

                // Add selected class to the clicked option
                parentLi.classList.add('sc-item-option-selected');
                parentLi.setAttribute('data-selected', 'true');

                // Apply the filter
                filter();
            });
        });

        // Add event listener to search box
        document.getElementById('search-box').addEventListener('input', filter);
    </script>

    
</body>

</html>