﻿@page
@using System.Globalization
@model Auto99.Pages.CostEstimateModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>Trang thông tin chính thức của Auto99</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/Header.css">
    <link rel="stylesheet" href="~/assets/css/Footer.css">
    <link rel="stylesheet" href="~/assets/css/ProductList.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <style>
        /* Remove border around input and select elements */
        input, select {
            border: none !important;
            border-color: white#ffffff !important; /* Set border color to transparent */
            width: 100%; /* Make the input/select 100% width */
            margin: 0; /* Remove margin */
            padding: 0; /* Remove padding */
        }

        /* Style for the select dropdown arrow (optional) */
        select {
            /* Hide the default dropdown arrow */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* Add a custom arrow or icon if needed */
            background: url('your-arrow-icon.png') no-repeat right center;
            padding-right: 20px; /* Adjust the padding for the icon */
        }

        label {
            font: 700 25px/20px sans-serif; /* Make the text bold */
            padding: 0;
        }

        #Tieu-de {
            font: 554 36px/50px sans-serif; /* Make the text bold */
        }

        .checkbox-list {
            list-style: none;
        }

        .checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

            .checkbox div {
                font-family: sans-serif;
            }

            .checkbox i {
                margin-right: 10px;
                font-size: 1.2em;
                color: #666;
            }

            .checkbox.checked i {
                color: #007bff;
            }

        p {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            display: flex !important;
            flex-direction: row !important;
            align-items: flex-start !important;
            justify-content: space-between !important;
        }

        .total {
            font-size: 2rem !important;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row d-flex justify-content-around" style="padding-top: 10rem; padding-bottom: 10rem; background: url('./img/backgroundService.jpg') no-repeat top center fixed; background-size: cover;">
            <div class="box" style="background-color: white; padding: 2rem; width: 50%; margin: 0.5rem auto; font-size: 1.5rem; border-radius: 1rem;">
                <h1 id="Tieu-de">DỰ TOÁN CHI PHÍ</h1>
                <ul>
                    <li>
                        <div id="car">
                            <label for="carID">Hãng xe</label>
                            <input name="car" class="text-left" readonly id="car" value="@Model.Brand.BrandName" tabindex="3">
                            <label for="carID">Kiểu dáng</label>
                            <input name="car" class="text-left" readonly id="car" value="@Model.Design.Design" tabindex="3">
                            <label for="carID">Mẫu xe</label>
                            <input name="car" class="text-left" readonly id="car" value="@Model.Car.CarName" tabindex="3">
                        </div>
                    </li>
                    <li>
                        <label for="location">Chọn Khu Vực:</label>
                        <select id="location" class="form-control" onchange="updateTotal()">
                            <option value="0">Chọn khu vực</option>
                            @foreach (var location in Model.LocationList)
                            {
                                <option value="@location.LocationId">@location.LocationName</option>
                            }
                        </select>
                    </li>
                    <hr />
                    <hr />
                    <h2>Chi phí đăng ký, đăng kiểm và bảo hiểm</h2>
                    <div>
                        <p>
                            <label class="col-md-6">Giá niêm yết</label><br>
                            <input name="price" class="text-right" readonly id="price" readonly value="@($"{Model.Car.Price:#,###} VNĐ")" tabindex="3">
                        </p>
                        @foreach (var fee in Model.FeeList)
                        {
                            <div>
                                <p>
                                    <label class="col-md-8">@fee.FeeName</label><br>
                                    <input class="text-right" readonly value="@($"{fee.Fee:#,###} VNĐ")" tabindex="3">
                                </p>
                            </div>
                        }
                        <div id="regFeeDisplay">
                            <label class="col-md-8">Phí đăng ký theo khu vực</label>
                        </div> <!-- Placeholder for RegFee display -->
                        <hr />
                        <div class="row">
                            <h2 class="text-danger col-md-6">Tổng chi phí lăn bánh và bảo hiểm</h2>
                            <input id="Total" class="text-danger text-right col-md-6 font-weight-bold total" readonly id="Total" readonly value="@($"{Model.Total:#,###} VNĐ")" tabindex="3">
                        </div>
                        <hr />
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <input type="hidden" id="regFee" name="regFee" value="0"> <!-- Hidden input for regFee -->

    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>

    <!--Lazy Loading-->
    <script src="assets/js/lazy.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateTotal() {
            var locationSelect = document.getElementById('location');
            var selectedLocationId = locationSelect.value;
            var regFee = 0;

            // Retrieve the registration fee for the selected location
            @foreach (var location in Model.LocationList)
            {
                <text>
                    if (selectedLocationId == "@location.LocationId") {
                        regFee = @location.RegFee;
                    }
                </text>
            }

            // Update the hidden input field with regFee
            document.getElementById('regFee').value = regFee;

            // Calculate the new total
            var basePrice = parseFloat("@Model.Car.Price");
            var fees = @Model.FeeList.Sum(f => f.Fee);
            var total = basePrice + fees + parseFloat(regFee);

            // Update the total cost displayed on the page
            document.getElementById('Total').value = total.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

            // Display the registration fee below the listed price
            var regFeeDisplay = document.getElementById('regFeeDisplay');
            if (!regFeeDisplay) {
                regFeeDisplay = document.createElement('div');
                regFeeDisplay.id = 'regFeeDisplay';
                document.querySelector('ul').appendChild(regFeeDisplay);
            }
            regFeeDisplay.innerHTML = `
                <div>
                    <label class="col-md-8">Phí đăng ký theo khu vực</label>
                    <input class="text-right" readonly value="${regFee.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}" tabindex="3">
                </div>
            `;
        }

        document.getElementById('location').addEventListener('change', updateTotal);
    </script>
</body>
</html>
