﻿@page
@using System.Globalization
@model HomePageModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Trang thông tin chính thức của Auto99</title>
    
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/HomePage.css">
    <link rel="stylesheet" href="~/assets/css/Header.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/Footer.css">
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <!-- Header Ends Hear -->
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
                <div class="owl-banner owl-carousel">
                    @foreach (var subCategory in Model.ListBlogID4)
                    {                     
                            <a asp-page="./BlogDetail" asp-route-id="@subCategory.BlogId">
                                <div class="banner-item">
                                    <img src="img/Blog/@subCategory.BlogImg" loading="lazy" alt="Blog Image">
                                </div>
                            </a>
                    }
                </div>
    </div>
    <!-- Banner Ends Here -->
    <!-- CarList -->
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>KHÁM PHÁ CÁC DÒNG XE</h1>
                    </div>
                </div>
                <div class="tbox container">
                    <div class="col-md-12">
                        <div class="col-md-12 list_car_type">
                            <ul>
                                @foreach (var c in Model.ListCD)
                                {
                                    var index = Model.ListCD.IndexOf(c);
                                    if (index == 0)
                                    {
                                        <li class="active" style="width: 20%;">
                                            <a>@c.Design</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li style="width: 20%;">
                                            <a>@c.Design</a>
                                        </li>
                                    }
                                }
                                <li style="width: 20%;" id="myLi">
                                    <a href="CarList">Xem thêm </a>
                                </li>
                                <script>
                                    var liElement = document.getElementById('myLi');
                                    var aElement = liElement.querySelector('a');
                                    liElement.addEventListener('click', function () {
                                        aElement.click();
                                    });
                                </script>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cbox container">
                    @foreach (var c in Model.ListCD)
                    {
                        var index = Model.ListCD.IndexOf(c);
                        <div value="@c.Design" id="@c.Design">
                            <div class="row owl-theme owl-carousel text-center">
                                @foreach (var a in Model.AllCarsByDesign[index])
                                {
                                        <div class="product">
                                            <a asp-page="./CarDetail" asp-route-id="@a.CarId">
                                                <div class="tin">
                                                    @foreach (var b in Model.AllEngineAndChassis)
                                                    {
                                                        @if (b.CarId == a.CarId)
                                                        {
                                                            <div class="p1">Động cơ @b.EngineType</div>
                                                            <div class="p2">Dung tích @b.CylinderCapacity cc</div>
                                                        }
                                                    }
                                                </div>
                                                <div class="box-image">
                                                    @foreach (var carImages in Model.AllCarImages)
                                                    {
                                                        if (carImages.CarId == a.CarId)
                                                        {
                                                            <img class="image-car image-index" src="img/Xe/@a.CarId/@carImages.CarImg1" class="lazy" alt="@a.CarName" />
                                                        }
                                                    }
                                                    @foreach (var carSubImages in Model.AllCarSubImages)
                                                    {
                                                        if (carSubImages.CarId == a.CarId)
                                                        {
                                                            <img class="image-car image-hover" src="img/Xe/@a.CarId/@carSubImages.CarSubImg1" class="lazy" alt="@a.CarName">
                                                        }
                                                    }
                                                </div>
                                                <div class="info">
                                                    <h2>@a.CarName</h2>
                                                    <div>
                                                        @String.Format(new CultureInfo("vi-VN"), "{0:N0}", a.Price)
                                                        <span>VNĐ</span>
                                                    </div>
                                                </div>
                                                <div class="bin">
                                                    @foreach (var d in Model.AllGeneralInfoCars)
                                                    {
                                                        if (d.CarId == a.CarId)
                                                        {
                                                            <div class="p1">@d.NumberOfSeat chỗ</div>
                                                        }
                                                    }
                                                    @foreach (var b in Model.AllEngineAndChassis)
                                                    {
                                                        @if (b.CarId == a.CarId)
                                                        {
                                                            <div class="p2">@b.Gear</div>
                                                        }
                                                    }
                                                </div>
                                            </a>
                                        </div>                               
                                }
                            </div>
                        </div>
                    }
                </div>
                <script>
                    let listCarType = document.querySelectorAll('.list_car_type ul li');
                    let designElements = document.querySelectorAll('.cbox.container > div');
                    designElements.forEach(function (designElement, index) {
                        if (index === 0) {
                            designElement.classList.remove('hide');
                        } else {
                            designElement.classList.add('hide');
                        }
                    });
                    listCarType.forEach(function (li) {
                        li.addEventListener('click', function () {
                            listCarType.forEach(function (item) {
                                item.classList.remove('active');
                            });
                            this.classList.add('active');
                            let selectedType = this.textContent.trim();
                            designElements.forEach(function (designElement) {
                                let designId = designElement.getAttribute('value');
                                if (selectedType === designId) {
                                    designElement.classList.remove('hide');
                                } else {
                                    designElement.classList.add('hide');
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- CarList Ends Hear -->
    <!-- Application -->
    <div class="section-cta">
        <div class="cta-box">
            <div class="cta-item">
                    <span class="bg-khuyen_mai_image"></span>
                    <p class="cta-item-text">Khuyến mãi</p>
            </div>
            <div class="cta-item">
                    <span class=" bg-bang_gia_image"></span>
                    <p class="cta-item-text">Dự toán chi phí</p>
            </div>
            <div class="cta-item">
                    <span class="bg-dang_ki_lai_thu_image"></span>
                    <p class="cta-item-text">Đăng ký lái thử</p>
            </div>
        </div>
    </div>
    <!-- Application Ends Hear -->
    <!-- Service -->
    <div class="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>DỊCH VỤ</h1>
                    </div>
                </div>
                <div class="tbox container">
                    <div class="col-md-12">
                        <div class="col-md-12 list_service_type">
                            <ul>
                                @foreach (var bc in Model.ListBC)
                                {
                                    if (bc.BlogCategoryId == 2)
                                    {
                                        var firstCategoryFound = false;
                                        foreach (var b in Model.ListBlog)
                                        {
                                            if (b.BlogCategoryId == 2)
                                            {
                                                <li style="width: 33%;" class="@(firstCategoryFound ? "" : "active")">
                                                    <a>@b.Title</a>
                                                </li>
                                                firstCategoryFound = true;
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sbox container">
                    @foreach (var category in Model.ListBlog)
                    {
                        if (category.BlogCategoryId == 2)
                        {
                            var categoryCount = Model.ParentIDCountMap[category.ParentId];
                            var index = Model.ListBlog.IndexOf(category);
                            <div value="@category.Title" id="@category.Title">
                                <div class="row owl-theme owl-carousel text-center">
                                    @for (int i = 0; i < categoryCount; i++)
                                    {
                                        foreach(var subCategory in Model.AllBlogsByPI[index])
                                        {
                                                <div class="product service-block">
                                                <a asp-page="./BlogDetail" asp-route-id="@subCategory.BlogId">
                                                        <div class="box-image">
                                                            <img class="lazy" src="img/Blog/@subCategory.BlogImg">
                                                        </div>
                                                        <div class="info">
                                                            <h2>@subCategory.Title</h2>
                                                        </div>
                                                    </a>
                                                </div>
                                        }                                       
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <script>
                    let listServiceType = document.querySelectorAll('.list_service_type ul li');
                    let serviceElements = document.querySelectorAll('.sbox.container > div');
                    serviceElements.forEach(function (serviceElement, index) {
                        if (index === 0) {
                            serviceElement.classList.remove('hide');
                        } else {
                            serviceElement.classList.add('hide');
                        }
                    });
                    listServiceType.forEach(function (li) {
                        li.addEventListener('click', function () {
                            listServiceType.forEach(function (item) {
                                item.classList.remove('active');
                            });
                            this.classList.add('active');
                            let selectedType = this.textContent.trim();
                            serviceElements.forEach(function (serviceElement) {
                                let serviceId = serviceElement.getAttribute('value');
                                if (selectedType === serviceId) {
                                    serviceElement.classList.remove('hide');
                                } else {
                                    serviceElement.classList.add('hide');
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- Service Ends Hear -->
    <!-- News -->
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>TIN TỨC</h1>
                    </div>
                </div>
                <div class="tbox container">
                    <div class="col-md-12">
                        <div class="col-md-12 list_service_type">
                            <ul>
                                @foreach (var bc in Model.ListBC)
                                {
                                    if (bc.BlogCategoryId == 3)
                                    {
                                        var firstCategoryFound = false;
                                        foreach (var b in Model.ListBlog)
                                        {
                                            if (b.BlogCategoryId == 3)
                                            {
                                                <li style="width: 33%;" class="@(firstCategoryFound ? "" : "active")">
                                                    <h2>@b.Title</h2>
                                                </li>
                                                firstCategoryFound = true;
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sbox container">
                    @foreach (var category in Model.ListBlog)
                    {
                        if (category.BlogCategoryId == 3)
                        {
                            var categoryCount = Model.ParentIDCountMap[category.ParentId];
                            var index = Model.ListBlog.IndexOf(category);
                            <div value="@category.Title" id="@category.Title">
                                <div class="row owl-theme owl-carousel text-center">
                                    @for (int i = 0; i < categoryCount; i++)
                                    {
                                        foreach (var subCategory in Model.AllBlogsByPI[index])
                                        {
                                            <div class="product service-block">
                                                <a asp-page="./BlogDetail" asp-route-id="@subCategory.BlogId">
                                                    <div class="box-image">
                                                        <img class="lazy" src="img/Blog/@subCategory.BlogImg">
                                                    </div>
                                                    <div class="info">
                                                        <h2>@subCategory.Title</h2>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <script>
                    let listNewsType = document.querySelectorAll('.news .list_service_type ul li');
                    let newsElements = document.querySelectorAll('.news .sbox.container > div');
                    newsElements.forEach(function (newsElement, index) {
                        if (index === 0) {
                            newsElement.classList.remove('hide');
                        } else {
                            newsElement.classList.add('hide');
                        }
                    });
                    listNewsType.forEach(function (li) {
                        li.addEventListener('click', function () {
                            listNewsType.forEach(function (item) {
                                item.classList.remove('active');
                            });
                            this.classList.add('active');
                            let selectedType = this.textContent.trim();
                            newsElements.forEach(function (newsElement) {
                                let newsId = newsElement.getAttribute('value');
                                if (selectedType === newsId) {
                                    newsElement.classList.remove('hide');
                                } else {
                                    newsElement.classList.add('hide');
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- News Ends Hear -->
    <!-- ***** Footer Start ***** -->
    @* @{
        Html.RenderPartial("_Footer");
    } *@
    <!-- Footer Ends Hear -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/assets/js/lazyload.min.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/accordions.js"></script>
    <script src="~/assets/js/datepicker.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>

</html>