﻿@page
@model Auto99.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="assets/css/Login.css">
    <style>
        .link-container {
            display: flex;
            justify-content: center;
            font-size: 14.5px;
            margin-top: 8px;
        }

            .link-container a {
                margin: 0 15px;
                text-decoration: none;
                color: white;
            }

                .link-container a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    
    <div class="wrapper">
        <form method="post">
            <h1>Đăng nhập</h1>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="form-group mb-3">
                    <h5 style="color: red; text-align: center;">Login failed. Please check email or password!</h5>
                </div>
            }
            <div class="input-box">
                <input asp-for="Email" type="email" placeholder="Email" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <input asp-for="Password" type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label><input asp-for="RememberMe" type="checkbox"> Remember me</label>
                <a asp-page="@* ForgotPassword *@#">Quên mật khẩu?</a>
            </div>
            <button type="submit" class="btn">Đăng nhập</button>
        </form>
        <div class="link-container">
            <a asp-page="HomePage">Quay lại trang chủ</a>
            <a asp-page="Register">Đăng ký tài khoản</a>
        </div>
        <div class="link-container">
            <a href="/Staff/Login">Đăng nhập nhân viên</a>
        </div>
        </div>
</body>
</html>
