﻿@page
@model PaymentModel
@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<p>Response from ZaloPay: @Model.ResponseMessage</p>

@if (Model.PaymentUrl != null)
{
    <p><a href="@Model.PaymentUrl">Click here to proceed with payment</a></p>
}
