﻿@page
@model Auto99.Pages.ProfileModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>@ViewData["Title"]</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/Header.css">
    <link rel="stylesheet" href="~/assets/css/Footer.css">
    <link rel="stylesheet" href="~/assets/css/ProductDetail.css">


</head>

<body>
    <div class="page-heading about-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Sản phẩm</h2>
                        <div style="display:flex; justify-content: center; align-items: center; text-align: center;">
                            <h4><a href="/Home">Trang chủ </a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="conbox">
            <div class="ptop row justify-content-center">
                <div class="col-md-5">
                    <div class="content" id="content1">
                        <form method="post">
                            <div class="price" id="finalPrice">
                                <div class="info">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">My Profile</h4>
                                            <input type="hidden" name="userid" value="@Model.client.ClientId"></input>
                                            <div class="col-md-6">
                                                <label class="form-label">My Name</label>
                                                <input name="clientName" type="text" class="form-control" placeholder aria-label="my name" value="@Model.client.ClientName">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Email</label>
                                                <input name="email" type="text" class="form-control" placeholder aria-label="email" required value="@Model.client.Email">
                                                <span style="color: red">@ViewBag.messError</span>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Phone number</label>
                                                <input name="phonenumber" type="text" class="form-control" placeholder aria-label="Phone number" value="@Model.client.PhoneNumber">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Date of birth</label>
                                                <input name="dob" type="date" class="form-control" placeholder aria-label="Phone number" value="@(Model.client.Dob!=null?Model.client.Dob.Value.ToString("yyyy-MM-dd"):"")">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">IDNo</label>
                                                <input name="noid" type="text" class="form-control" placeholder aria-label="Phone number" value="@Model.client.NoId">
                                            </div>

                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Gender</label>
                                                <select name="gender" class="form-control">
                                                    <option value="">Choose gender</option>
                                                    <option value="1" selected="@(Model.client.Gender != null && Model.client.Gender.Value)">Male</option>
                                                    <option value="0" selected="@(Model.client.Gender != null && !Model.client.Gender.Value)">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" value="submitOrder" name="submitOrder" type="submit">
                                Update Profile
                            </button>
                            <span style="color: blue">@ViewBag.messSuc</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
