﻿@page
@model PurchaseHistoryModel
<link rel="stylesheet" href="~/assets/css/HomePage.css">
<link rel="stylesheet" href="~/assets/css/Header.css">
<link rel="stylesheet" href="~/assets/css/owl.css">
<link rel="stylesheet" href="~/assets/css/Footer.css">

<h2>Purchase History</h2>

<!-- Search bar -->
<input type="text" id="searchInput" placeholder="Search by Car Order Code" style="margin-bottom: 20px; margin-top: 70px; width: 300px; padding: 10px;">

<table class="table" style="margin-top: 20px">
    <thead>
        <tr>
            <th>Car Order ID</th>
            <th>Car</th>
            <th>Car Order Code</th>
            <th>Payment Type</th>
            <th>Order Value</th>
            <th>Paid</th>
            <th>Payment Required</th>
            <th>Created On</th>
            <th>Order Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="orderTable">
        @foreach (var order in Model.CarOrders)
        {
            <tr>
                <td>@order.CarorderId</td>
                <td>@order.Car.CarName</td>
                <td class="orderCode">@order.CarorderCode</td>
                <td>@(order.PaymentType == true ? "Chuyển khoản" : "ZaloQR")</td>
                <td>@order.OrderValue</td>
                <td>@order.Paid</td>
                <td>@order.PaymentRequired</td>
                <td>@order.CreatedOn</td>
                <td>@order.OrderDate</td>
                <td>@(order.Status.Equals("1") ? "Đã thanh toán" : "Chưa thanh toán")</td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        var input = this.value.toLowerCase();
        var rows = document.querySelectorAll('#orderTable tr');

        rows.forEach(function (row) {
            var orderCode = row.querySelector('.orderCode').textContent.toLowerCase();
            row.style.display = orderCode.includes(input) ? '' : 'none';
        });
    });
</script>
